[2016-11-01 11:34] ghost opened #42 "Fix/remove confusing __iter__ implementation in theano.tensor.var.TensorVariable"
I'm trying to translate [Statistical Rethinking](http://xcelab.net/rm/statistical-rethinking/) from R and RStan to Python and PyMC3.

On page 304, there's a simple logistic regression example. Data being used (publicly available):

[code]

Data is stored in a pandas DataFrame object. When I try and fit the model using:

[code]

I get the following error (which seems similar to pymc-devs/pymc3#918)

[2020-02-07 15:19] canyon289 opened #1 "Fix links to repo"
Various links in README's point to the original repo. Change them over to this repo

[2020-03-18 19:41] brandonwillard opened #5 "Update automatic formatting and linting"
We should set this up to work like our other projects (e.g. use `black` and similar linting options/checks).

[2020-03-18 20:57] brandonwillard opened #6 "Refactor Travis Build Script"
It looks like some/all [Travis build failures](https://travis-ci.org/github/pymc-devs/Theano-PyMC/jobs/664091602#L692) are due to dependency issues involving old versions of Python (e.g. 2.7, 3.4).  We should probably remove all tests involving Python <= 3.5 and cover 3.6-8 instead.

Additionally, the `.travis.yml` is unnecessarily complex/redundant and has confusing, unexplained combinations of v

[2020-04-10 08:24] #6 closed

[2020-06-07 22:19] brandonwillard opened #10 "Use Numba, Cython, and JAX for Python-implemented Ops"
[Here's](https://gist.github.com/nouiz/5492778) an old example of a Numba-enabled Theano `Op`.  We can most likely do something similar for Cython and JAX, as well.

As an extension to that example, it would be nice to have the compiled function be the `Op.perform` method itself; that way, we could attempt to compile existing `Op`s with little-to-no changes.

[2020-06-07 22:29] dfm commented on #10
I've blogged about using [TensorFlow](https://dfm.io/posts/pymc-tensorflow/) and [PyTorch](https://dfm.io/posts/pymc-pytorch/) ops in Theano. These might be useful for reference as well.

[2020-06-08 18:08] brandonwillard commented on #10
@dfm, those are cool examples.  Do you happen to have any experience with the underlying compilation subsystem (e.g. [`Linker`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/gof/link.py#L750))?  I would like to make good use of these compilation mechanisms if we do something like this.

For instance, @nouiz [mentions](https://gist.github.com/nouiz/5492778#file-theano_op-py-L6) that s

[2020-06-08 18:17] dfm commented on #10
Interesting! I have written lots of custom C-ops for Theano, but I don't have much experience with the numba side. This might be beyond my expertise!

What sort of use case are you imagining for something like that?

[2020-06-08 18:25] brandonwillard commented on #10
The use-case is simply efficient interoperability with Numba, Cython, and JAX-compatible code within Theano.  It would also be nice to explore the idea of automatically compiling Python `Op.perform` methods, as well.

[2020-07-03 14:31] twiecki opened #11 "Add testing integration, PyPI release, and conda-forge package"
In order to release we should have integration testing (I think theano used travis), as well as an upload to PyPI and a conda-forge package.

[2020-07-03 14:34] brandonwillard commented on #11
Should we consider moving the unit tests (currently in [Travis](https://travis-ci.org/github/pymc-devs/Theano-PyMC)) to GitHub Actions when/if we consider performing deployments via Actions?  @dfm, any opinion on this?

[2020-07-03 14:39] canyon289 commented on #11
Theres a decent chance I'll try moving testing to AzureCI this weekend but if someone beats me to it please go ahead

[2020-07-03 14:42] canyon289 commented on #11
Just to be clear I'm not opinated on one or another, but I personally prefer azure pipelines as I was going to copy the pipelines from ArviZ and tweak them a bit. Either is fine, it just sounds like whoever starts this and gets to the end first will make the choice :D

https://docs.github.com/en/actions/migrating-to-github-actions/migrating-from-azure-pipelines-to-github-actions#:~:text=GitHub%20A

[2020-07-03 14:56] brandonwillard commented on #11
I'm not a fan of the context shift implied by Azure, at least not without more motivating advantages.  In general, the tight integration of GitHub Actions with&mdash;well&mdash;GitHub is difficult to beat.

[2020-07-03 14:58] canyon289 commented on #11
Cool, I'll defer to you then since I wont be spending a lot of time in this repo. Glad you commented here! :)

[2020-07-07 00:37] brandonwillard opened #15 "Add code coverage"
This project needs code coverage as part of its CI.

[2020-07-07 18:01] brandonwillard opened #16 "Fix poorly identified and brittle tests"
Quite a few tests are very poorly identified&mdash;i.e. what's being tested isn't clear, or is way too broad (e.g. just check that it doesn't raise an exception)&mdash;and others are far too brittle (e.g. relying on the exact format of string output for tests not related to string output).

Here are some examples:
- https://github.com/pymc-devs/Theano-PyMC/blob//theano/scan_module/tests/test_scan.

[2020-07-08 14:32] #5 closed

[2020-07-08 14:35] brandonwillard commented on #11
We should probably change the "testing integration" in this title to "GPU-enabled CI".  Currently, that's the big missing test piece.

[2020-07-08 16:16] brandonwillard opened #17 "Add test, build, and coverage badges to the README"
Badges are a simple and nice thing to have, so why not set it up?

[2020-07-21 18:09] brandonwillard opened #19 "Add new Scan Op utils"
Let's consider adding the `Scan` utilities from https://github.com/pymc-devs/symbolic-pymc/pull/114 (e.g. the improved `ScanArgs` class and `convert_outer_out_to_in` function).

These would also help with a much needed general refactoring and simplification of `Scan`.

[2020-07-26 05:10] brandonwillard commented on #10
I've put together a prototype `Linker` class that demonstrates how Theano graphs can be compiled using JAX and evaluated&mdash;alongside Theano's normal Python and C implementations&mdash;in [this Gist](https://gist.github.com/brandonwillard/4ac0d006371497e1099529f8cc1fd31d).

It only handles `Composite` Theano `Op`s right now, but that covers a lot of plain NumPy-compatible graphs.  Also, I didn'

[2020-07-26 07:01] twiecki commented on #10
That's awesome! I would be interested in how this compares in speed to theanos c backend. Also, what others Ops not currently supported could be tricky?

[2020-07-26 16:59] brandonwillard commented on #10
Well, I believe the advantage here is that we could use Python, C, and JAX (or Numba, Cython, etc.) together.

The `Scan` `Op` might be a tricky one, but most `Op`s provide enough information to make just about any mapping to JAX-based operations.  I don't know enough about it, but it seems like `vmap` might map to `Elemwise`, as well.

Otherwise, Theano's `grad` functionality needs to be bridged

[2020-07-26 17:17] junpenglao commented on #10
This is my main question - IIUC Theano's grad is explicitly defined so we can just map to python/Jax operations? If so would there be any way to by pass that and use Jax grad? and any advantage/disadvantage of doing so?

[2020-07-26 18:19] brandonwillard commented on #10
As far as I can tell, we don't need to use the JAX gradient functions, but, if there's some advantage in doing so, it seems like we could.

The first thing that comes to mind regarding Theano `grad` vs. JAX's is that we would lose the ability to apply Theano graph optimizations to the gradient graphs, and that sounds like a big loss.  To me, that's reason enough to forgo use of JAX's gradient func

[2020-07-27 09:14] twiecki commented on #10
I can see how that's a powerful story for CPU, but what about GPU/TPUs?

I fully expect Scan to be the most difficult. However, it's use in PyMC3 is fairly limited (I see a usage for computing the grads though). What other difficult `Op`s might there be? We can leave convolutions for later. What about `switch`, `IfElse`, `slinalg` stuff, `shared`, `set_subtensor` and `printing`?

That we get graph

[2020-07-27 12:18] junpenglao commented on #10
Another alternative is to have a XLA linker and compile to XLA-optimized kernels directly - turning theano into another [XLA frontend](https://www.tensorflow.org/xla#xla_frontends)

[2020-07-27 13:33] nouiz commented on #10
JAX use XLA. So I'm not sure what you would gain by going directly to it.

[2020-07-27 14:57] twiecki commented on #10
Thanks for chiming in @nouiz, any other thoughts on this approach?

[2020-07-27 15:07] nouiz commented on #10
It sound good. Just make sure to keep the execution engine in C like the CLinker. But I think the call to streamline does it. If the loop over each operation is in Python, the Python overhead will kill the performance.
Also, it would be best if the JAX "thunk" have a c interface to not pay the Python overhead.

But I'm not convinced the current version will give speed up vs Theano as JAX use XLA o

[2020-07-31 05:51] brandonwillard commented on #10
All right, I've provided a context that makes it much easier to add more `Op` conversions and included `[Inc]Subtensor` implementations and more: [updated Gist](https://gist.github.com/brandonwillard/4ac0d006371497e1099529f8cc1fd31d).

In its current form, it will also compile the entire graph to JAX; however, if a single unsupported `Op` is encountered, then it falls back to Python.  We could mak

[2020-07-31 11:31] twiecki commented on #10
This is incredible progress!

Is that because of the call overhead? I would hope we just get a c-extension-like callable like with Cython with minimal call overhead compared to Python.

How difficult do you think `Scan` would be? I saw `JAX` has a native `While` implementation.

[2020-07-31 12:02] twiecki commented on #10
I did some speed comparisons: https://gist.github.com/twiecki/38dc98197eed5594c5518a3971064c92

On small arrays, c mode is about 6x faster than JAX, but with larger arrays it seems to be about the same, which is a great starting point.

[2020-07-31 12:20] twiecki commented on #10
I updated the gist with a simple PyMC3 model, we can just pass the jax mode to the `logp_dlogp_function` method. It currently doesn't compile with:
[code]

I think iteratively solving those individual problems until it compiles will be a good route to take.

[2020-07-31 15:30] brandonwillard commented on #10
No, it's just that I haven't set up the logic for computing subgraphs (and determining which to actually use).

I think it could be annoying to fully implement, but&mdash;at the end of the day&mdash;it's mostly a matter of porting the Python version of [`Scan.execute`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/scan_module/scan_op.py#L1354).  That porting work might require logic

[2020-08-01 04:14] brandonwillard opened #23 "Some tests take a long time"
There are 920 tests generated and run in `test_sort.py`, so it takes a while to finish.  Are this many tests necessary?

[2020-08-01 04:34] brandonwillard commented on #23
`test_rop.py` also has an oddly long running test: `TestRopLop.test_downsample`.

[2020-08-01 05:13] brandonwillard commented on #23
`test_bn.py` has extremely slow tests, as well.

[2020-08-01 05:18] brandonwillard commented on #23
Found another one: `TestUsmm.test_basic`.

[2020-08-01 05:52] brandonwillard commented on #23
`tensor/signal/tests/test_pool.py` is also too slow.

[2020-08-02 18:15] brandonwillard opened #24 "Finish removing old Python 2.x compatibility code"
There's still a lot of unnecessary code for Python 2.x compatibility that needs to be removed.  For instances, it seems like the entire `theano.compat` module could be removed.

[2020-08-02 18:21] #15 closed

[2020-08-02 18:21] #17 closed

[2020-08-05 11:36] junpenglao commented on #10
Tested @twiecki's gist, seems jax primitive like jax.vmap, jax.grad does not yet work:
[code]
gives `The numpy.ndarray conversion method __array__() was called on the JAX Tracer object Traced` error

<details><summary>full trace</summary>

[code]

</details>

[2020-08-05 22:05] brandonwillard commented on #10
I didn't know you could insert folds into GitHub comments!

Yeah, in order to implement `jax.grad`, I believe we would have to go some other route.  The `theano_jax_fn` you're using in that example looks to be the `jax.jit`-ed function; is that what `jax.grad` is supposed to take as an argument?  I would think it would take the JAX graph implied by the function created [here](https://github.com/py

[2020-08-06 13:31] junpenglao commented on #10
Ah that make sense - In that case would it be possible have a function to output a none jit function?

[2020-08-06 16:37] brandonwillard commented on #10
Yeah, you can construct a Theano `FunctionGraph` for your graph and pass it to `jax_funcify` (which uses the implementation [here](https://github.com/pymc-devs/Theano-PyMC/pull/21/files#diff-843ae52a81baba6699d8a8483d53ac6aR455)).  That's how the JAX functions are constructed for the `jax.jit` call (see [here](https://github.com/pymc-devs/Theano-PyMC/pull/21/files#diff-843ae52a81baba6699d8a8483d53

[2020-08-15 18:19] IvanYashchuk opened #25 "Adding support of FEniCS models"
I've made a small package for embedding [FEniCS](https://fenicsproject.org/) PDE solvers in Theano.
https://github.com/IvanYashchuk/fenics-pymc3
The current API is just one function `create_fenics_theano_op` which turns a normal Python function, which expects FEniCS inputs and outputs a solution to the problem, into a differentiable Theano Op that can be directly used in a PyMC3 model.
This functi

[2020-08-15 21:44] brandonwillard commented on #25
Those `Op`s are too specialized for addition into core Theano.

I don't know enough about FEniCS, but&mdash;from a cursory investigation&mdash;the only relevant additions that could be included here might involve bridging explicit FEniCS graph objects and operators with existing and/or new `Op`s in Theano.

In other words, it might be worth considering FEniCS as a compilation target like we're doi

[2020-08-15 21:44] #25 closed

[2020-08-16 00:58] brandonwillard opened #26 "Prevent `Elemwise` graphs from violating `Scalar` arities"
The scalar multiplication `Op`, `Mul`, has an `impl` method that actually uses `np.product`.  When used in conjunction with `Elemwise`, optimizations like `local_mul_canonizer` construct graphs that essentially have `Elemwise(Mul)(a, b, c, ...)` nodes.

In other words, it adds nodes to the graph that violate the arity of scalar functions (e.g. by turing the binary operator `Mul` into a variadic op

[2020-08-16 01:33] brandonwillard commented on #26
Here's a MWE that demonstrates the problem:
[code]

[code]

[code]

[code]

This optimized graph is invalid, because it applies three arguments to the binary `Mul`.  It should use `Product` as the `Op` within the `Elemwise`&mdash;if it should use `Elemwise` at all.

From this example, it's clear that `local_add_mul_fusion` introduces the problem, and it probably does the same for `Add` (i.e. when

[2020-08-17 09:23] twiecki commented on #25
Agree with @brandonwillard, but such a theano Op would be great to have in your fenics-wrapper library.

[2020-08-23 12:58] bridgeland opened #29 "Beta often diverges when logodds is close to 19.0"
## Description

This simple model never diverges in NUTS:

[code]

But this very similar model---with alpha and beta swapped---diverges on about half the samples:

[code]

[code]

The problem appears to be that in the diverging samples, one element of **bad_beta** jumps to a logodds that is close to (but less than) the value 19.0

[code]

What is special about 19? Note that **good_beta** generates

[2020-08-25 12:04] twiecki commented on #29
![image](https://user-images.githubusercontent.com/674200/91172109-f0c6ad00-e6db-11ea-8802-c2cd12eabf53.png)
What magic is this :-O.

[2020-08-25 12:05] twiecki commented on #29
CC @brandonwillard

[2020-08-25 13:13] bridgeland commented on #29
@AlexAndorra: to be fair @aseyboldt [tracked the problem through the codebase](https://discourse.pymc.io/t/good-results-but-many-divergent-samples-what-me-worry/5655/14), not me.

[2020-08-25 13:27] AlexAndorra commented on #29
Don't be too harsh on yourself: you did quite a nice investigative debugging work too 😉

[2020-08-26 11:21] bridgeland commented on #29
Over in [discourse](https://discourse.pymc.io/t/good-results-but-many-divergent-samples-what-me-worry/5655/14), @aseyboldt wrote:

This does seem to be a theano issue at the root:
The sigmoid implementation is a bit strange:

[code]

Why 19? That expression evaluates to something different from 1 until ~36.6.
And then on top of that the stability enhancing code seems to work in the case of log1p(-

[2020-08-26 11:49] bridgeland commented on #29
The 19.0 expression is in **ScalarSigmoid.c_code()**, found in
theano/tensor/nnet/sigm.py. The whole method is defined as:

[code]

So it seems the mystery 19.0 is an optimization, determined empirically
by checking when **numpy.exp()** hits 1.0 rather than something a bit
short of 1.0.

Running the experiment in the comment yields a slightly different result,
with an overflow above 21, not 19:

!

[2020-08-26 12:01] bridgeland commented on #29
Although  it is possible I do not really understand the issue. Maybe the communication
of tensor values between python and C occurs through their standard string repr rather than the
underlying representation in memory. In that case the original experiment is not flawed.

[2020-08-26 22:54] brandonwillard commented on #29
The method `Op.c_code` populates the argument `inp` with names for the actual input variables&mdash;in a `gensym`-like way.  In other words, the numerical input values&mdash;aside from the ones in the conditional expressions&mdash;aren't represented in string/`repr` form, if that's what you meant.

[2020-08-27 12:20] aseyboldt commented on #29
I did some experiments, and I don't think that the shortcut for very small
or large values is worth the cost (at least for double, this might be
different for float or even float16).
If you want to try this on your machine, the notebook is here:
https://gist.github.com/aseyboldt/0f93a60085183980bb18a1d1ecad4021

The check if x is an extreme value adds some costs for values where it
doesn't fit, an

[2020-08-27 15:00] bridgeland commented on #29
@aseyboldt Eliminating the broken optimization is a much better solution than fixing it. Kudos to you.

How does it work now? Who makes it so?

[2020-08-27 16:35] twiecki commented on #29
want to do a PR David?

On Thu, Aug 27, 2020, 17:00 David M Bridgeland <notifications@github.com>
wrote:

[2020-08-27 19:22] bridgeland commented on #29
I will try, against my better judgment.

Step 1: install Xcode

[2020-08-28 10:07] bridgeland commented on #29
(Lack of) progress report: I started with a fork, clone, and local install. Then I ran the
theano tests, before making any changes.

Running the 2393 tests took 2 hours, and resulted in 654 errors and 28 failures. Wups!

I suspect someone who already understands theano should do this.

[2020-08-28 10:57] bridgeland commented on #29
I have made no progress on the 654 errors. Obviously something is not properly
installed in my local machine. But I do not know what.

@twiecki, @brandonwillard, @aseyboldt, @AlexAndorra: Help me Obi-Wan
Kenobi; you're my only hope.

[2020-08-28 15:16] bridgeland commented on #29
Or perhaps I am misunderstanding the situation. Perhaps the theano tests are no
longer maintained, and a great many errors are to be expected.

[2020-08-28 15:30] brandonwillard commented on #29
@bridgeland, if you submit a draft PR, we can help debug it.

[2020-08-28 20:08] bridgeland commented on #29
@brandonwillard Done. But the PR is entirely untested, due to aforementioned issues in
setting up a local theano dev environment.

[2020-08-30 13:47] bridgeland commented on #29
Update: I still am not able to run the theano tests. But I was able to install pymc3 (v3.9.3)
and run the same test of betas shown above. With the fix, there are 40X fewer divergences.

[2020-09-04 18:22] twiecki opened #33 "Add grad of GammaInc"
https://github.com/pymc-devs/pymc3/pull/2688#issuecomment-687196112

[2020-09-06 23:13] brandonwillard opened #34 "Fix constant folding optimization error caused by AdvancedBooleanSubtensor"
Theano's boolean indexing does not match NumPy's.

Consider the following:

[code]

[code]

The Theano analog is as follows:

[code]

[code]

The code can be made to work after `tt.squeeze`-ing the boolean index array, but this is a poor solution.

[2020-09-06 23:56] brandonwillard opened #36 "Implement NumPy's broadcast_to"
Theano could really benefit from an implementation of NumPy's [`broadcast_to`](https://numpy.org/doc/stable/reference/generated/numpy.broadcast_to.html)&mdash;one that uses views and doesn't create an entirely new array.  With an implementation of this, it seems like most of the other `broadcast_*` functions could be implemented, as well.

[2020-09-11 04:07] brandonwillard opened #37 "Reconsider the graph object model"
~The constant caching severely complicates graph manipulation/"optimization" by&mdash;for instance&mdash;requiring that such constants be cloned in order to be used within more than one `FunctionGraph`.  This cloning requirement ultimately extends to the graphs that contain these cached constants and the result is an overly complicated and wasteful process of object cloning and clone-to-original m

[2020-09-16 08:45] #29 closed

[2020-09-18 14:14] canyon289 opened #41 "Uninformative Theano Error (Copied from PyMC3)"
Moving as part of the issue triage. See discussion below
https://github.com/pymc-devs/pymc3/issues/1492

[2020-09-18 14:14] canyon289 commented on #41
Realized I can transfer issues. Closing

[2020-09-18 14:14] #41 closed

[2020-09-25 20:25] twiecki opened #43 "Jax 0.2 does not support jitting reshape"
[code]

Traceback:
<details>

[code]

</details>

[2020-09-25 23:41] brandonwillard commented on #43
I just pushed a fix, and&mdash;with that&mdash;this model appears to work when `chains=1`.  The sampler just sits there when `chains` is greater than one.

[2020-09-25 23:51] brandonwillard commented on #43
Looks like the problem could be related to [a JAX + fork multiprocessing issue](https://github.com/google/jax/issues/1805).

[2020-09-26 00:29] brandonwillard opened #45 "Refactor sub-packages, modules, and imports"
The current package/module structure leads to numerous circular dependencies and an overall unwieldy import process.  We need to refactor the imports and module/subpackage layouts entirely.

For instance, it should be possible to import the core graph types (e.g. `Node`, `Apply`, `Variable`) without importing any `Op`s, `Linkers`, and other compilation-based classes.  Furthermore, there's rampant

[2020-09-26 03:57] brandonwillard commented on #43
I tried passing a `multiprocessing` context initialized with the "spawn" start method and that went straight to a pickling error:
[code]

The pickling error arises due to the absence of a `JAXLinker` entry in `theano.compile.mode.predefined_linkers` by default (i.e. we currently have to load the `theano.sandbox.jax` module in order to add the entry).

I'll try adding the `JAXLinker` as a default e

[2020-09-26 04:30] twiecki commented on #43
Tried again with the updated branch and cores=1, chains=1 and now getting:
[code]

[2020-09-26 04:37] brandonwillard commented on #43
Looks like the same error.  Perhaps it's a difference in the `jax` and `jaxlib` versions; this is what I have:
[code]

[2020-09-26 04:47] twiecki commented on #43
[code]

[2020-09-26 05:08] brandonwillard commented on #43
Ah, I'll try those versions.

Otherwise, I just pushed a update that puts the JAX `Linker` in the `predefined_linkers`.  With that, the following works:
[code]
[code]

[2020-09-26 05:11] twiecki commented on #43
That's awesome!

[2020-09-26 05:17] brandonwillard commented on #43
OK, I got the same error as you using `jax` 0.2.0.  It looks like the change that introduced the error might've been in [this part of this commit](https://github.com/google/jax/commit/c6b7269480c773eb312e3fe3f15938110927db20#diff-a4404c86bdd5bdfd0128f72b7aa1d40bR1133).

[2020-09-26 05:44] brandonwillard commented on #43
For anyone who's interested and more familiar with JAX, here's a MWE of the problem under `jax` 0.2.0 and `jaxlib` 0.1.55:
[code]
[code]

[2020-09-26 05:53] twiecki commented on #43
jax issue?

On Sat, Sep 26, 2020, 07:44 Brandon T. Willard <notifications@github.com>
wrote:

[2020-09-26 05:59] junpenglao commented on #43
If I understand correctly, Jax does not support jitting reshape as the shape is dynamic.

[2020-09-26 06:03] junpenglao commented on #43
Oh so they use to support it, hmm maybe marking the shape as static will help?

[2020-09-26 06:26] brandonwillard commented on #43
The actual graph is likely much more complex, and I don't know if there's an argument in the JITed function that's actually static and maps directly to the `shape` like that example does.

More importantly, why isn't it supported anymore?

[2020-09-26 06:30] junpenglao commented on #43
I think it is related to a change call omnistaging: https://github.com/google/jax/pull/3370

[2020-09-26 06:32] junpenglao commented on #43
TFP also have to made quite a bit of changes due to omnistaging in Jax: https://github.com/tensorflow/probability/search?q=omnistaging&type=commits
I think the general strategy is to push static computation to numpy as much as possible

[2020-09-26 06:33] twiecki commented on #43
Downgrading I now can sample.

On Sat, Sep 26, 2020 at 8:30 AM Junpeng Lao <notifications@github.com>
wrote:

[2020-09-26 06:34] junpenglao commented on #43
For reshape specifically: https://github.com/tensorflow/probability/commit/782d0c64eb774b9aac54a1c8488e4f1f96fbbc68

[2020-09-26 15:40] aloctavodia opened #46 "Implement JAX conversion for CGemv Op"
This model runs

[code]

This other model

[code]
throws `AttributeError: 'ScalarSigmoid' object has no attribute 'nfunc_spec'`

It seems this could be fixing adding  `nfunc_spec = ('scipy.special.expit', 1, 1)` to the class `ScalarSigmoid` (not sure this is correct) by doing so
I then get the error `'ScalarSoftplus' object has no attribute 'nfunc_spec'` which I guess should have a similar solutio

[2020-09-26 17:17] twiecki commented on #11
We have all of these now. I'll add a separate issue for GPU.

[2020-09-26 17:17] #11 closed

[2020-09-26 17:18] twiecki opened #47 "Enable GPU testing"
We currently do not run the test suite for GPUs.

[2020-09-26 17:56] brandonwillard commented on #47
The real blocker is that we need CUDA-enabled hosts in our CI.

[2020-09-26 21:35] brandonwillard commented on #43
Here's the sub-graph causing the problem:
[code]
[code]

The graph tells us that the `shape` parameter to `jax.numpy.reshape` is coming from a `MakeVector` `Op` that's the result of a bunch of conditional statements over some constants and a `Shape_i` `Op`.  The `Shape_i` is simply getting the `0`th shape value of the `__args_joined`, which is the only input variable of the `FunctionGraph` we extr

[2020-09-26 23:59] brandonwillard commented on #43
I just pushed a commit that disables omnistaging by default.  That should allow `jax` > 0.2.0.

I also found [this example](https://github.com/google/jax/blob/4d556837cc9003492f674c012689efc3d68fdf5f/design_notes/omnistaging.md#solution), which is essentially our problem, and it says that the solution is to use NumPy do compute the shape.  @junpenglao is there a straightforward way to force a NumP

[2020-09-27 00:18] brandonwillard commented on #46
That's definitely the solution!

[2020-09-27 03:53] brandonwillard commented on #46
I've added support for those sigmoid functions and created a JAX compilation mode that disables BLAS optimizations.  The reason for the latter is that BLAS operations are apparently not implemented/available in `jax`, so we simply have to avoid inserting those into the graph.

In order to use this new mode, simply replace all instances of `jax_mode = theano.compile.Mode(linker="jax")` with `jax_mo

[2020-09-27 05:08] brandonwillard commented on #46
All right, with the most recent changes, the following code&mdash;based on your example&mdash;appears to work:
[code]
[code]

[2020-09-27 05:08] #46 closed

[2020-09-27 08:54] #10 closed

[2020-09-27 11:01] twiecki commented on #43
It works for me with that work-around now 👍 .

[2020-09-27 11:48] twiecki opened #49 "Missing Op: ExtractDiag"
Trying to run a GP model:

[code]

[2020-09-27 16:41] twiecki commented on #47
How did Theano do it?

[2020-09-27 16:52] brandonwillard commented on #47
Not sure, but we can do it&mdash;for example&mdash;by adding [self-hosted CI runners](https://docs.github.com/en/free-pro-team@latest/actions/hosting-your-own-runners/about-self-hosted-runners).

[2020-09-27 17:01] brandonwillard opened #51 "local_optimizers_map in EquilibriumOptimizer prevents inheritance-based filtering"
The `OrderedDict` member named `local_optimizers_map` in `EquilibriumOptimizer` is used to filter "tracked" `Op`s by type; however, `local_optimizers_map` cannot consider inheritance.  In other words, every subclass of a class must have an entry in order to be considered "tracked" by an optimization.

Given the apparently intended meaning of "tracked" `Op` classes, we should probably change this s

[2020-09-27 22:37] brandonwillard opened #52 "Remove theano.dot"
The `__init__.py`-level `theano.dot` function is awkward and&mdash;as far as I can tell&mdash;completely unnecessary.  What it appears to be doing is supposed to be done in class-level implementations of `__dot__` and `__rdot__` (e.g. an interface/mixin class that checks both objects for the appropriate methods).

This function should be removed and the classes that implement `__dot__` and `__rdot

[2020-09-27 23:04] brandonwillard opened #53 "Move Theano Type instance definitions"
The modules `theano.tensor.basic` and `theano.scalar.basic` contain numerous type definitions (e.g. `TensorType("float32", (True, False))`).  These are more appropriately defined in their respective `type.py` modules (e.g. where `TensorType` itself is defined).  Currently, they're just creating unnecessary dependencies between said types and those very large `basic.py` modules.

[2020-09-27 23:56] brandonwillard commented on #16
These test are simply bad tests, because they only check that code _doesn't_ throw an error:
- `TestLocalSumProd.test_sum_upcast`
- `TestLocalSumProd.test_prod_upcast`
- `TestLocalSumProd.test_sum_bool_upcast`
- `TestLocalReduce.test_local_reduce_join`
- `test_add_canonizer_problem0`
- etc.

Instead, tests like these should confirm that the results are correct.

These tests rely unreasonably on th

[2020-09-28 03:55] brandonwillard opened #55 "Rename scalar and tensor maximum and minimum Ops"
There are distinct `maximum` and `minimum` `Op`s in both `theano.scalar.basic` and `theano.tensor.basic`.  It seems like we could give these different names and avoid the confusion and potential for bugs.

[2020-09-28 07:01] twiecki commented on #52
But there is still `tt.dot(x, y)` then, right? Or only `x.dot(y)`?

[2020-09-28 07:56] junpenglao commented on #43
Let's keep this opened as we should aim to fix the omnistaging issue.

[2020-09-28 16:35] brandonwillard commented on #43
@junpenglao, does the solution to this particular issue involve `jax.lax.reshape`?  Is that the level at which symbolic inputs are viable?

[2020-09-28 17:45] brandonwillard commented on #52
There's already a distinct `theano.tensor.basic.dot` function on top of the class-level `_tensor_py_operators.dot` method, which makes this `theano.dot` all the more confusing.

[2020-09-28 19:02] twiecki commented on #52
Yep it really does.

On Mon, Sep 28, 2020, 19:45 Brandon T. Willard <notifications@github.com>
wrote:

[2020-09-28 21:03] fbartolic opened #56 "pymc3jax: AttributeError: partially initialized module 'theano' has no attribute 'compile' (most likely due to a circular import)"
# Description of your problem
I was very excited to try out the new JAX sampler on my models but I ran into an error when trying to run the example notebook:
https://gist.github.com/twiecki/f0a28dd06620aa86142931c1f10b5434

I created a new conda environment and installed all the dependencies mentioned in the notebook but I get the following error when I run it:

[code]

## Versions and main compon

[2020-09-28 21:22] brandonwillard commented on #56
@fbartolic, this is being fixed in #21.

[2020-09-28 21:37] brandonwillard opened #57 "Turn theano.compat into a module"
Currently, `theano.compat` is a sub-package containing only an `__init__.py` file.  The `__init__.py` file should be renamed to `compat.py`, moved into the `theano` directory/package, and the old `compat` directory should be deleted.

[2020-09-28 22:13] fbartolic commented on #56
Awesome, thanks!

[2020-09-28 22:28] brandonwillard commented on #45
One thing I'm noticing: most sub-packages have extensive imports for modules and objects contained within said sub-package's modules and sub-sub-packages.  This forces imports of said modules, objects, and sub-sub-packages whenever one attempts to access anything within the original sub-package.

We can probably clear up a lot of this entanglement by simply removing most imports from the `__init__

[2020-09-29 05:21] Rashmi-K-A commented on #57
Hi @brandonwillard, can I take this one?

[2020-09-29 05:34] junpenglao commented on #43
I think there are a few level of fix we could think about:
- theano, where we enforce static shape and rewrite the shape issue @brandonwillard you mentioned to me to always carries static shape around
- pymc3, which we get rid of the reshape in `model.logp_dlogp_fun`

In the short term, I need to understand better how the reshape is done in theano - IIUC, when `jax.jit` is applied, `jnp.reshape` i

[2020-09-29 05:58] brandonwillard commented on #43
We can't do this for _all_ Theano graphs; that would remove a large array of valuable Theano capabilities!

[2020-09-29 07:57] junpenglao commented on #43
I see - could we add a static reshape mode for pymc3 instead? jax does not really support dynamic shape anyway so if we want the jax backend to do dynamic graph stuff it would be pretty difficult.

[2020-09-29 09:24] twiecki commented on #57
@Rashmi-K-A Definitely, thanks for offering your help!

[2020-09-29 14:04] mschmidt87 opened #60 "pymc3jax: AttributeError: 'Identity' object has no attribute 'nfunc_spec'"
## Description of your problem

I ran into another problem with the experimental JAX-based sampler on the `pymc3jax` branch:

I am playing around with a hierarchical model where I am simulating something like a hierarchical Gaussian mixture process, i.e. I have 3 clusters with associated cluster_means and std around them and then I simulate a number of instantiations for each cluster, where each i

[2020-09-29 14:04] #60 closed

[2020-09-29 14:23] brandonwillard opened #61 "Make CAReduce a singleton/factory"
`CAReduce` should be a singleton&mdash;at least in terms of its first constructor argument `scalar_op`.  Because it's not, newly introduced optimizations could miss out on using the specific `Min` and `Max` `Op`s, for instance.

Many other `Op`s should probably be singletons, too

[2020-09-29 16:21] brandonwillard opened #63 "Use GitHub Actions"
If I'm not mistaken, we can run more jobs in parallel using GitHub Actions and speed up these tests.  For that reason&mdash;and some others (e.g. we can easily perform our deployment automations in Actions, as well), let's switch from Travis to GitHub Actions.

[2020-09-29 16:29] dfm commented on #63
I'm happy to help with this! A little buried under work this week, but I'll try to put in some time soon if someone else doesn't get there first.

[2020-09-29 16:36] #56 closed

[2020-09-29 16:43] twiecki commented on #63
@dfm That'd be greatly appreciated. Did you see the JAX stuff? Quite exciting developments!

[2020-09-29 16:52] michaelosthege opened #64 "ImportError with PyMC3"
With latest PyMC3 master and Theano-PyMC master, I still get an import error:

![image](https://user-images.githubusercontent.com/5894642/94588791-ae693080-0284-11eb-83b5-f9417c4bc808.png)

Just `import theano` is fine..
Should it be a PyMC3 ticket?

[2020-09-29 16:54] michaelosthege commented on #64
nevermind - this was actually still PyMC3 3.9.1

[2020-09-29 16:54] #64 closed

[2020-09-29 17:16] brandonwillard commented on #64
FYI: there were import errors that were just recently resolved in #58.

[2020-09-30 00:52] mschmidt87 commented on #60
Yes, problem solved, thanks.

[2020-10-01 01:25] #57 closed

[2020-10-01 21:22] brandonwillard commented on #49
That `Op` was introduced in #59, so closing this one.

[2020-10-01 21:22] #49 closed

[2020-10-01 21:49] brandonwillard opened #66 "Merge RandomVariable Ops"
The Symbolic PyMC project contains a [base `RandomVariable` `Op`](https://github.com/pymc-devs/symbolic-pymc/blob/master/symbolic_pymc/theano/ops.py#L75) with advanced shape-handling logic and a more optimization-friendly form, as well as implementations for [many common random variable types](https://github.com/pymc-devs/symbolic-pymc/blob/master/symbolic_pymc/theano/random_variables.py).  We sho

[2020-10-01 22:04] brandonwillard opened #67 "Replace unification framework"
We should replace the custom Theano [unification implementation](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/gof/unify.py) with use of an external&mdash;and more robust&mdash;library, as demonstrated in [Symbolic PyMC](https://github.com/pymc-devs/symbolic-pymc).  Since there are already at least two Python unification libraries  that can be easily made to work with Theano (e.g. [`

[2020-10-01 22:23] brandonwillard opened #68 "Limited implementation of ARange Op in JAX"
It looks like the `jax.numpy` version of `arange` doesn't take symbolic inputs (like `reshape` in #43).  Currently, [the test for that `Op`](https://github.com/pymc-devs/Theano-PyMC/blob/master/tests/sandbox/test_jax.py#L609) is marked as an expected failure.

Perhaps we can put together an implementation using `jax.lax`?

[2020-10-01 22:42] brandonwillard opened #69 "Implement JAX conversion for Scan Op"
The Theano [`Scan` `Op`](https://github.com/pymc-devs/Theano-PyMC/blob/1a9b04bfe480b758ddfa54ba49c88bee3bec419c/theano/scan/op.py#L80) currently has an incomplete implementation.  We need to finish that, especially since this `Op` is an important bridge to a lot of valuable JAX functionality and future performance enhancements.

There's already [a (skipped) test for this conversion](https://github

[2020-10-02 01:04] brandonwillard opened #70 "Make the Scan inner-graph an input to the operator"
`Scan` has a member/field that holds the inner-graph (i.e a graph representing the computation in the `Scan`'s body).  This design choice effectively hides the inner-graph from a standard graph traversal, and&mdash;as a result&mdash;forces the need for special `Scan`-specific logic changes in generic routines in order to work with these `Op`s.

We should consider changing this.

[2020-10-02 13:23] twiecki commented on #66
This would be an incredible mile-stone to hit.

[2020-10-03 03:11] brandonwillard commented on #45
For anyone who might be interested in doing this, I recommend an automated approach using [`libcst`](https://libcst.readthedocs.io/en/latest/why_libcst.html).

Here's a rough outline of such an automation:

Visit each `{pkg}/__init__.py` and gather their package-level imports and rewrites as follows:

- find `from {pkg}.{sub_pkg} import {mod}` and create the rewrite pair `({pkg}.{mod}, {pkg}.{sub_

[2020-10-04 03:55] brandonwillard opened #72 "Base core graph classes on attrs or dataclasses"
In line with #37, we should consider basing the core graph objects (e.g. `theano.gof.graph.[Node, Variable, Apply]`, `theano.gof.op.[PureOp, Op]`, and all their subclasses) on some form of flexible, (relatively) immutable, easily convertible data type.  The packages [`attrs`](https://www.attrs.org/en/stable/overview.html) and the newly built-in [`dataclasses`](https://docs.python.org/3/library/dat

[2020-10-04 09:53] twiecki opened #73 "Support theano.shared in jax_funcify"
Currently using a theano.shared leads to a `MissingInputError` , see https://github.com/pymc-devs/pymc3/issues/4142.

[2020-10-04 12:02] MrinankSharma opened #74 "Implement grad for GammaInc"
The Gamma `logcdf` does not have a gradient function implemented.

Example:

[code]

Trying to sample from this raises an error:

`MethodNotDefined: ('grad', <class 'theano.scalar.basic_scipy.GammaInc'>, 'GammaInc')`

Note: the `logcdf` derivative should be available as a function of the `logpdf`. It would be great to have this implemented. For example, this would mean my use case above (generatin

[2020-10-04 12:30] twiecki commented on #74
Thanks for reporting -- want to do a PR?

[2020-10-04 12:49] MrinankSharma commented on #74
I'd be up for working on a PR, but I've never submitted a PR on the PyMC3 codebase before. If you think this can be tackled by a newcomer, I can give it a go.

[2020-10-04 12:52] twiecki commented on #74
I think you'd learn a lot and we'll definitely help out.

[2020-10-04 16:20] brandonwillard commented on #73
@junpenglao, is there anything similar to shared variables in `jax`?  We can always convert these into standard arrays, but then changing the shared value won't have an effect on the JAXed function.

[2020-10-04 16:45] brandonwillard commented on #73
See [my comment in the parent issue](https://github.com/pymc-devs/pymc3/issues/4142#issuecomment-703281502) for an explanation of the real problem.

For the sake of completion. I've added a direct test for shared variables in #76.

We can change the purpose of this issue to center around true shared variable support (i.e. the ability to `shared_var.set_value(...)` and affect changes in a JAX-jitte

[2020-10-04 17:06] brandonwillard commented on #73
Just to be clear, shared variables work as expected under JAX compilation **in Theano** (i.e. using `theano.function`), but **the functions returned by `jax_funcify` are oblivious to shared variables and their functionality**.  As a matter of fact, `jax_funcify` should never even see a shared variable.

With this in mind, we shouldn't add any sort of warnings; we should simply let `jax_funcify` er

[2020-10-04 20:17] #63 closed

[2020-10-04 20:26] brandonwillard opened #77 "Publish Conda and PyPi builds through GitHub Actions"
We need GitHub Actions workflows for publishing Conda and PyPi builds.

[2020-10-04 21:01] dfm commented on #77
PyPI is easy and I'm happy to add that! I don't have as much experience with the conda, but I'm happy to take a shot.

[2020-10-04 21:08] brandonwillard commented on #77
That would be great!  We can't really get it running until secrets containing the PyPi and conda-forge tokens are added (@twiecki), but&mdash;in the meantime&mdash;it can't hurt to have a PR with those workflows ready.

[2020-10-05 16:43] dfm commented on #77
Re: conda: Is the idea to upload to the defaults channel or do we only care about conda-forge? If the latter, then #78 is enough because the conda-forge builds are done on https://github.com/conda-forge/theano-feedstock. If we have access to and want to update the build on `defaults` (it looks like that hasn't been done so far) then that is above my pay grade :D

[2020-10-05 16:53] brandonwillard commented on #77
I think [`theano-pymc-feedstock`](https://github.com/conda-forge/theano-pymc-feedstock) is the one for this repo, but, yeah, I guess we shouldn't need to do anything special for `conda-forge`, and I don't think we need it on the defaults channel either.  @twiecki, does that sound correct?

[2020-10-05 17:06] twiecki commented on #77
Yeah, default channel is not worth the effort, and with new releases we cut
here and upload to pypi the feedstock will update and release automatically.

On Mon, Oct 5, 2020 at 6:53 PM Brandon T. Willard <notifications@github.com>
wrote:

[2020-10-05 17:22] fbartolic opened #79 "No JAX conversion for CumOp"
I'm sure you guys are working on it but just for reference, the following code raises an error due to  missing `CumOp`:
[code]

Traceback:
[code]
## Versions and main components
* PyMC3 Version:  `pymc3jax` branch
* Theano Version:  `Theano-Pymc` master branch
* Python Version: 3.8
* Operating system: Mac OS Catalina

[2020-10-06 00:24] brandonwillard opened #81 "Coveralls build error "No build matching CI build number...""
[This build](https://github.com/pymc-devs/Theano-PyMC/pull/80/checks?check_run_id=1212125829) had the following Coveralls error:
[code]

@dfm, any ideas?

[2020-10-06 00:25] dfm commented on #81
Yeah - it looks like there's an issue with pull request coverage IDs. I'll look into it tomorrow!

[2020-10-06 00:26] #79 closed

[2020-10-06 08:50] michaelosthege opened #84 "Theano top-level tests module is not resolved when running coverage on a different project that has a "tests" module"
I wanted to run the tests on our `calibr8` package, but `import Theano` blew up on this line:
https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/__init__.py#L170

I can `import theano` from a jupyter notebook without problems so it must be related to some changes that `coverage` does to the path variables.

Nevertheless the problem did not appear with the original Theano.

Explanation of

[2020-10-06 09:10] michaelosthege commented on #84
Actually.. The Theano `tests` directory is *above* the `__init__.py`, so not even `from . import tests` works.

Shall we … delete it? The comment above the `import tests` says something about unspecific GPU configuration.

[2020-10-06 17:43] #81 closed

[2020-10-06 22:43] brandonwillard opened #87 "Simplify/combine status checks"
Our CI workflow sets up a bunch of independent jobs via the matrix settings, and each one of those creates a possible status check under this repo's branch protection settings.  It would be better if we had a single job that could serve as a status check for all the matrix jobs, especially as we add/remove jobs via the matrix settings (e.g. new Python versions).

So far, [this](https://github.comm

[2020-10-06 23:17] brandonwillard commented on #87
Also, after adding the file filters to the workflow in #83, it looks like there are perpetually uncompleted checks.  Is there any way around that?

[2020-10-07 01:08] brandonwillard commented on #84
Yeah, that `tests` import is just one example of the many problems covered by #45.  We should absolutely do what's necessary to remove that.

[2020-10-07 06:29] #84 closed

[2020-10-07 13:40] dfm commented on #87
Good - I think I can work out the logic for all this!

[2020-10-07 18:29] brandonwillard opened #89 "jax.numpy.unique: "Abstract tracer value encountered where concrete value is expected." error"
The most recent `jax`/`jaxlib` update (i.e. 0.2.1) has removed "symbolic" inputs support for `jax.numpy.unique`.  We need to&mdash;at the very least&mdash;fix the tests for the corresponding `Op`.

[2020-10-07 18:51] brandonwillard commented on #89
This is essentially the same problem as #68 and #43.  It seems like removing these capabilities is an ongoing `jax` process, so we probably need to start considering a different approach.

[2020-10-07 19:04] brandonwillard commented on #89
Looks like the change was [this simple guard](https://github.com/google/jax/blob/master/jax/numpy/lax_numpy.py#L3857).

[2020-10-08 00:14] brandonwillard commented on #89
OK, the underlying issue I'm seeing here can be demonstrated with the following MWE:
[code]
[code]

The input is entirely concrete, even inside `jax.numpy.unique`, so this is very confusing.

Furthermore, we can be direct and reproduce the error with just `jax.jit(partial(jax.numpy.unique, a))()`.  The only way I can get it to work is from a non-jitted call like `jax.numpy.unique(a)`, which would

[2020-10-08 00:48] #89 closed

[2020-10-08 01:18] brandonwillard commented on #77
I just created a release, and [it works](https://pypi.org/project/Theano-PyMC/)!

Note: apparently, you can't trigger the release action from `git` remotely; you must use the GitHub site to create a release.

[2020-10-08 01:18] #77 closed

[2020-10-08 01:23] brandonwillard commented on #73
I've added comments to #4142 that should clarify the situation and explain what a viable solution would look like.  In the meantime, I'm going to close this issue.

[2020-10-08 01:23] #73 closed

[2020-10-08 07:16] twiecki opened #91 "Conda-forge build is broken on import test"
[code]

from https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=219395&view=logs&j=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e&t=841356e0-85bb-57d8-dbbc-852e683d1642&l=2075

This happens because the recipe tests all kinds of imports: https://github.com/pymc-devs/Theano-PyMC/blob/master/conda/meta.yaml#L32

[2020-10-08 15:38] nouiz opened #92 "Document/Email that announce Theano-PyMC"
Hi,

I recall seeing an email/url that annonce Theano-PyMC fork, but I do not find it. Does it really exist? If so, it would be good to link to it from the README in this repo.

[2020-10-08 15:46] brandonwillard commented on #42
After some investigation, I've found that there is already support for the conversion of Pandas objects; however, the exact [problem observed in this issue](https://github.com/pymc-devs/Theano-PyMC/issues/42#issuecomment-674405666) prevents use of the relevant logic.

Specifically, the class [`_tensor_py_operators`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/var.py#L665)&md

[2020-10-08 15:47] brandonwillard opened #93 "Fix TensorVariable class design"
The class [`_tensor_py_operators`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/var.py#L665)&mdash;from which [`TensorVariable`s](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/var.py#L866) inherit&mdash;automatically provides an `__iter__` method and this tricks Pandas (or any other library) into thinking that all `TensorVariable`s are iterable (e.g. via

[2020-10-08 16:00] brandonwillard commented on #45
Here are some interesting hacks that are currently being used to avoid circular dependencies (and that we need to remove):
- https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/gof/graph.py#L22
- https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/basic.py#L1049
- https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/elemwise.py#L30

[2020-10-08 16:08] brandonwillard commented on #45
Also, I've recently noticed that the config system (e.g. operating mostly from the file [`theano.configdefaults`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/configdefaults.py)) introduces a considerable tangle of import dependencies.

For instance, the `theano.config` object is created when `theano/__init__.py` is loaded, and from there it attempts to do all sorts of config value

[2020-10-08 16:08] brandonwillard opened #94 "Refactor theano.config"
I've recently noticed that the config system&mdash;operating mostly from the file [`theano.configdefaults`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/configdefaults.py)&mdash;introduces a considerable tangle of import dependencies.

For instance, the `theano.config` object is created when `theano/__init__.py` is loaded, and from there it attempts to do all sorts of config value v

[2020-10-08 16:15] twiecki commented on #92
This one? https://groups.google.com/g/theano-users/c/RRqAgfLRd78

[2020-10-08 16:19] brandonwillard commented on #91
Looks like we need to change something in https://github.com/conda-forge/theano-pymc-feedstock.

[2020-10-08 16:27] brandonwillard commented on #91
Yeah, it looks like `meta.yaml` should just run `pytest` instead of [loading a bunch of test modules](https://github.com/conda-forge/theano-pymc-feedstock/blob/master/recipe/meta.yaml#L32) (which are now located in a separate `tests` directory).

[2020-10-08 16:35] nouiz commented on #92
It was that one. I didn't expect JAX in the title :)
Thanks.

[2020-10-08 16:35] #92 closed

[2020-10-08 16:59] dfm commented on #91
I think that it's generally recommended to just test that `import` works on conda-forge rather than running the full test suite. But yes, that's where it should be fixed, not here!

[2020-10-08 17:12] brandonwillard commented on #91
That sounds _much_ better.

[2020-10-08 19:07] #87 closed

[2020-10-09 11:01] twiecki commented on #91
It is just testing the import.

[2020-10-09 11:09] dfm commented on #91
Right, but @brandonwillard was suggesting otherwise :D

[2020-10-09 16:29] brandonwillard commented on #91
I just put in a PR that will hopefully close this: https://github.com/conda-forge/theano-pymc-feedstock/pull/3.

[2020-10-09 19:28] brandonwillard commented on #91
@twiecki @ericmjl, that PR seems to do the job.  It needs a review and merge, though.

[2020-10-10 23:14] brandonwillard opened #96 "Refactor theano.tensor.get_scalar_constant_value"
`theano.tensor.get_scalar_constant_value` is a utility function that contains unreasonably long conditional statements and introduces more unnecessary cross-module&mdash;and ultimately circular&mdash;dependencies (e.g. `theano.tensor.subtensor.Subtensor.get_constant_idx` calls `theano.tensor.get_scalar_constant_value` and vice-versa).

Let's try to fix this situation by moving this utility functio

[2020-10-11 02:05] brandonwillard commented on #91
Closing this now that https://github.com/conda-forge/theano-pymc-feedstock/pull/3 is merged.

[2020-10-11 02:05] #91 closed

[2020-10-11 04:31] brandonwillard opened #97 "Finish/fix the implementation of `local_subtensor_make_vector`"
There are two conditions under which the optimization `local_subtensor_make_vector` will unnecessarily throw exceptions: [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/opt.py#L2268) and [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/opt.py#L2283).

The first condition that raises a `TypeError` can be reached when both the graph being indexed an

[2020-10-11 04:58] brandonwillard commented on #97
Also, `local_subtensor_make_vector` should include `AdvancedSubtensor` (and possibly `AdvancedBooleanSubtensor`) case(s).  This addition is really quite minor.

[2020-10-11 05:34] brandonwillard opened #98 "Fix theano.tensor.basic.as_tensor_variable inconsistencies"
The ubiquitous `theano.tensor.basic.as_tensor_variable` function has some very troubling inconsistencies, as demonstrated in the following for the same constant input:

[code]
[code]
[code]
[code]

In this latter example, the result should be fully "reduced" to a `TensorConstant` like the initial example.

Now, the most egregious case involves the use of `ScalarConstant`s:

[code]
[code]

This res

[2020-10-11 06:14] brandonwillard commented on #98
It looks like this function would also be much better implemented as a generic function (e.g. using `functools.singledispatch`).

[2020-10-11 17:29] brandonwillard opened #99 "Remove constant caching"
Following up on #37&mdash;and after testing some solutions to #98, I believe we should completely remove the constant caching functionality.

This functionality is driven exclusively by the logic [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/basic.py#L263), which clearly shows how constrained the functionality already is (e.g. it only caches 10,000 `TensorConstant`s wit

[2020-10-11 17:57] brandonwillard opened #100 "Remove FunctionGraph constituent ownership"
`FunctionGraph`s add a `fgraph` property to the graph object added to them (see [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/gof/fg.py#L198), [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/gof/fg.py#L206), [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/gof/fg.py#L225), [here](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/g

[2020-10-12 02:42] #99 closed

[2020-10-12 02:42] #98 closed

[2020-10-13 21:52] brandonwillard commented on #43
It seems like we should dig into the lower-level aspects of `jax` and see if we can take a more direct approach from our end.  One that doesn't go through these omnistaging changes, for instance.

This seems like the correct approach if only because it might also provide solutions to similar symbolic limitations we've encountered (e.g. #68).

[2020-10-14 04:43] brandonwillard commented on #34
The changes in #39 technically fixed this issue (i.e. no errors during compilation and the computed value is correct); however, there is now an error during constant folding.  Fortunately, this is an optimization error and is ignored by default.

Regardless, we should fix the optimization error.

[2020-10-14 04:57] twiecki commented on #43
We could consider linking to XLA directly, not sure how much work that
would be though.

On Tue, Oct 13, 2020, 23:52 Brandon T. Willard <notifications@github.com>
wrote:

[2020-10-14 05:15] brandonwillard commented on #43
Yeah, that's what I was thinking.

[2020-10-14 06:07] #34 closed

[2020-10-14 06:40] twiecki opened #103 "Cut new release"
https://github.com/pymc-devs/Theano-PyMC/pull/102

CC @dfm

[2020-10-14 15:54] brandonwillard commented on #103
I created a new release after merging and it appears to be up on [PyPI (i.e. 1.0.7)](https://pypi.org/project/Theano-PyMC/).

[2020-10-14 15:54] #103 closed

[2020-10-14 23:03] brandonwillard opened #105 "Gradient of AdvancedBooleanIncSubtensor is broken"
When taking the gradient of an `AdvancedBooleanIncSubtensor` `Op`, an exception is immediately thrown:
[code]
[code]

Apparently, the problem is caused by a call to the wrong function: [`advanced_set_subtensor` instead of `advanced_boolean_inc_subtensor`](https://github.com/pymc-devs/Theano-PyMC/commit/a9a0d5aaca6bb902505b32652f7cd28b7da670ef#diff-ce4f5afcdb7dc89728c79c66f55eaed0ec19a0bc4f7684e510

[2020-10-15 01:05] brandonwillard commented on #16
As a means of automating the search for poor/wasteful tests, a tool that tells us the coverage provided by each test would be extremely helpful.

With such a tool, we could rapidly remove a lot of very time consuming and redundant tests, or even tell whether or not certain tests are doing what they advertise.  The latter is extremely important, because, due to the rampant misplaced use of graph op

[2020-10-15 01:07] brandonwillard opened #107 "Calculate coverage for each test"
As a means of automating the search for poor/wasteful tests, a tool that tells us the coverage provided by each test would be extremely helpful.

With such a tool, we could rapidly remove a lot of very time consuming and redundant tests (i.e. #23), or even tell whether or not certain tests are doing what they advertise (i.e. the work in #16).  The latter is extremely important, because, due to the

[2020-10-15 01:33] #105 closed

[2020-10-16 17:07] brandonwillard opened #109 "Test values can be set to incompatible values"
It seems like there are no checks for test values, which can lead to numerous cryptic errors occurring almost anywhere in the Theano codebase.

Here's an example in which a Theano vector is given a matrix test value:
[code]
[code]
[code]

This issue can also manifest as errors in `ShapeFeature` during compilation.

We should have a check (e.g. implemented through `__setattr__`) in `theano.gof.util

[2020-10-17 20:07] brandonwillard commented on #107
Here's the section in `coverage.py`'s documentation that covers this functionality: [dynamic-contexts](https://coverage.readthedocs.io/en/coverage-5.1/contexts.html#dynamic-contexts).

[2020-10-17 20:20] brandonwillard commented on #107
After reading through that documentation section, it's clear that all we need to do is set `dynamic_context = test_function` in the `.coveragerc` and then we can generate an HTML report (using `coverage html --show-contexts`) that has a drop-down next to the source lines saying which tests covered said line!  (I tried it and it works.)

The only unanswered question is whether or not we can generat

[2020-10-17 20:20] #107 closed

[2020-10-18 00:53] #109 closed

[2020-10-18 02:28] brandonwillard opened #115 "Provide a reasonable matrix_power implementation"
I just noticed that Theano's [`matrix_power`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/nlinalg.py#L665) function is incredibly naive; it needs to be replaced with&mdash;at the very least&mdash;the standard binary powering algorithm.

To complement that, we should also have an optimization that merges iterated dot products (i.e. the kind produced by the naive `matrix_power

[2020-10-18 20:01] ferrine commented on #47
How much resources do we need?

[2020-10-19 17:04] brandonwillard commented on #47
At this point, simply any host with an NVIDIA card that can run [`pygpu`](http://deeplearning.net/software/libgpuarray/installation.html).

[2020-10-19 17:12] brandonwillard opened #118 "CI should fail on new uncovered lines"
We need to set up our CI/Coveralls to fail on newly introduced uncovered lines&mdash;at the very least!

[2020-10-19 17:38] OriolAbril commented on #118
I know how to do this with codecov, not with coveralls though which is what is currently used. I could set codecov up with github actions if it seems easier to do this than with coveralls or if there is interest in switching.

[2020-10-19 17:40] brandonwillard commented on #118
I'm fine using either.  @dfm what's your opinion?

[2020-10-19 18:05] dfm commented on #118
I don't have strong opinions either way! Coveralls is currently set to fail for coverage decreases of 2% or more, but we could change that back to 0%. There is no option for exactly what you want as far as I know.

[2020-10-19 18:33] brandonwillard commented on #118
My experience with the percent metric is that it has been always been difficult to justify and deal with, especially across multiple runs.  Plus, it's not good if one can increase coverage for unrelated code while not covering new code and still pass the acceptance threshold.

If Codecov provides better metrics, then I'm all for it.  The only requirement is that it works with CI in the same way th

[2020-10-19 18:35] dfm commented on #118
That all sounds reasonable. I'm sure it's easy enough to get codecov working in this mode, but I don't have experience with the specific features it offers. Happy to take a shot at it next week or review a pull request!

[2020-10-19 18:36] dfm commented on #118
The only step of the workflow that would need to be changed is the final step where the combined coverage is uploaded. The other steps are not coveralls specific.

[2020-10-19 23:18] brandonwillard opened #120 "Move and remove implicit Elemwise tests in tests.tensor.test_basic"
The `tests.tensor.test_basic` module takes a while to run (e.g. another case of #23 ), and a big part of that is the unreasonably repetitious numeric testing that's performed in all the NumPy wrapper `Op` tests.

A lot of the testing being performed in that module is _actually_ for the `Elemwise` `Op` and the scalar `Op`s in `theano.scalar.basic` (e.g. their `Op.perform` and `Op.grad` implementati

[2020-10-20 08:43] krishvishal opened #121 "Implement JAX conversion for Eye Op"
If you have any questions, please ask the [theano-user mailing list](https://groups.google.com/forum/#!forum/theano-users) or [stackoverflow](http://stackoverflow.com/) (using the "theano" tag) first.

## Description of your problem or feature request
I'm following the [notebook](https://gist.github.com/junpenglao/fe5e1b451c076cc7b4ca16acdd7d6472) to make use of JAX and Tensorflow probability for

[2020-10-22 00:41] #115 closed

[2020-10-22 20:39] brandonwillard opened #126 "Build documentation in CI"
We should start automatically building the documentation in CI, then we can keep our https://theano-pymc.readthedocs.io/ site up-to-date and start linking to it.

[2020-10-23 11:49] dfm commented on #126
It looks to me like the RTDs page is working. The last build was for your last commit: https://readthedocs.org/projects/theano-pymc/builds/

Is there something missing from those docs?

[2020-10-23 12:05] dfm opened #127 "Narrowing error on macOS"
Compiling ops with fast_run on macOS results in an error because of "narrowing". This is a known issue (e.g. https://github.com/pymc-devs/pymc3/issues/3695) that is handled by downstream projects like PyMC3 (https://github.com/pymc-devs/pymc3/pull/3767). I propose that we fix this here by adding the `-Wno-c++11-narrowing` flag to `theano.config.gcc.cxxflags` by default on macOS.

**Please provide

[2020-10-23 20:12] brandonwillard commented on #126
Is that picking up all the docstring/API changes?

[2020-10-23 20:25] brandonwillard commented on #127
Any reason why we wouldn't?

[2020-10-23 22:59] dfm commented on #127
I don't think there is any reason not to and I'm happy to implement. If anyone has reasons not to, let me know!

[2020-10-23 23:04] dfm commented on #126
I believe so, e.g.: https://theano-pymc.readthedocs.io/en/latest/library/tensor/nlinalg.html#theano.tensor.nlinalg.matrix_power

That docstring was added in https://github.com/pymc-devs/Theano-PyMC/commit/6150681097433cb477a778c009180dab35e02d3b (and now I see a typo!)

[2020-10-23 23:05] dfm commented on #126
Some of the more major changes (e.g. changing module names, etc.) might require changes to the docs source files, but it looks like it uses automodule throughout so it should be pretty robust.

[2020-10-24 00:22] #118 closed

[2020-10-24 22:18] brandonwillard opened #129 "Update Cython usage in scan_perform.pyx"
We're currently versioning the C code produced by Cython for the `Scan` `Op`, and I'm not sure if that's necessary (or the correct approach).  It also requires a manual compilation and patch step when the relevant code is changed, which seems a little less than desirable.

Since it looks like we're compiling the Cython-generated C code with Theano's GCC compilation framework, I'm guessing that Cyt

[2020-10-25 04:38] brandonwillard opened #130 "Move theano.compile.sharedvalue and theano.compile.builders to a different package"
The `sharedvalue` module is in the sub-package `theano.compile`, but the `SharedVariable` class and its helper functions defined therein have little to no functional relationship with the classes and functions in `theano.compile`.  If anything, `sharedvalue` would be more appropriately placed in the `theano.gof` sub-package, along with the `Variable` class and its other basic sub-classes.

The sam

[2020-10-26 17:21] brandonwillard opened #132 "Add string types"
If people are interested, we could add string types to Theano.  From some experimentation a while back, it seems like these types could be a thin wrapper around the built-in byte types.

Here's an example of using bytes to process strings:
[code]
[code]

The idea is that the type support we could add would handle this byte/str back-and-forth automatically.

[2020-10-27 21:07] brandonwillard opened #133 "Choose operator doesn't accept valid arguments"
The `Op` `theano.tensor.basic.Choose` doesn't handle valid arguments properly.

For example, in NumPy, the following works as expected:
[code]
[code]
In Theano, the equivalent usage fails:
[code]
[code]

It can be made to work when the `list` of scalars, `choices_tt`, is converted to a `TensorVariable` as follows:
[code]

Oddly, the problem isn't present for vectors:
[code]

The issue seems to be

[2020-10-28 00:59] brandonwillard commented on #96
Here's some more info on the situation with `get_scalar_constant_value`:

The function `theano.tensor.basic.get_scalar_constant_value` is supposed to work like [`numpy.ndarray.item`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.item.html) and return the scalar constant value from a symbolic scalar or tensor with only one entry.  It only works when the graph is comprised of certai

[2020-10-28 17:10] brandonwillard opened #134 "Use actual types for Theano types"
Instead of creating "type" classes (i.e. `PureType`s) and manually attaching them to Theano objects (i.e. via `Variable.type`), we should actual use Python's built-in type/class inheritance.  I'm not immediately aware of any required functionality in the current Theano type system that wouldn't allow this.

Here's an illustration of the current situation:
[code]

We created a simple Theano vector,

[2020-10-29 21:16] brandonwillard opened #135 "Copy error when computing test values"
`theano.gof.compute_test_value` raises an exception when `Op` arguments specified in the `destroy_map` do not have a `copy` method.

Here's a MWE:
[code]
[code]

[2020-10-29 22:20] #135 closed

[2020-10-31 13:06] eigenfoo commented on #1
Closed by #82.

[2020-10-31 13:06] #1 closed

[2020-10-31 13:45] eigenfoo commented on #24
I'd be interested in taking this on.

@brandonwillard asides from removing the `theano.compat` module and any references to it, what other compat code should I look to remove/fix? Here's a short list I found by `rg`ing for the usual suspects (`"python2"`, `"compat"`, etc.). Please feel free to add/change.

- [ ] A few one-liners
  * https://github.com/pymc-devs/Theano-PyMC/blob/3767f231e73721395c6

[2020-10-31 15:16] LegrandNico opened #138 "Implement JAX conversion for Second Op"
When using the pymc3jax branch, to sample from my model with:

[code]
I am getting the following error code:

[code]

The non-jaxified sampler is working correctly with this model.

You can run this notebook to reproduce the error: https://colab.research.google.com/drive/1gQgCkfQCt-7LRxJfyj2KZTxjvcDRHB2B?usp=sharing

[2020-10-31 17:34] brandonwillard commented on #24
All of the above!

Regarding `cmp` and `DefaultOrderedDict`, we can move those to a `utils.py`&mdash;that seems to fit the pattern of our sub-packages.  Ultimately, we should refactor code that uses things like `cmp`, when possible.

Otherwise, there are also a few remaining uses of the old `%` string interpolation operator that we should convert to `str.format`&mdash;or we could convert everythin

[2020-11-02 01:38] #24 closed

[2020-11-02 01:59] brandonwillard opened #141 "Remove/reduce redundancy in tests"
Our test suite has a considerable amount of of redundancy, and it's not really working to our advantage.  For instance, we run all/most of the tests under each type of floating point precision and two different function compilation modes; however, the code dealing with each type of precision and mode is often minimal and easily localized.  In other words, we're rerunning entire test suites just to

[2020-11-02 02:07] eigenfoo commented on #52
I'd be interested in taking this on, but am unclear on some things.

Please correct me if I'm wrong: Theano tensors derive a lot of operators (addition, comparisons, etc.) via mixin classes, for example the [`theano.tensor.var._tensor_py_operators` class](https://github.com/pymc-devs/Theano-PyMC/blob/008579b56901c0e228ac26e04c1e39ebb34545ca/theano/tensor/var.py#L17). `theano.dot` is barely used, b

[2020-11-02 04:46] brandonwillard commented on #52
I think that's _the_ mixin, other than its subset clone: `theano.sparse.basic._sparse_py_operators`.

While I'm thinking about it, we should either use a single mixin for both&mdash;with some overrides, if necessary&mdash;or break `theano.tensor.var._tensor_py_operators` apart so that its shared methods can be used by both the sparse and non-sparse types.  Really, **the sparse tensors should use e

[2020-11-02 04:56] brandonwillard opened #142 "Unify sparse and dense tensor class design"
The sparse tensors should use exactly the same interfaces/types (and much of the same code) as the dense tensors, since we're supposed to be modeling high-level tensors with these interfaces, and **not** their implementation details.  Consider this: in what world is a sparse tensor not a tensor?  (Answer: Theano.)

To start, the mixin `theano.sparse.basic._sparse_py_operators` needs to be replaced

[2020-11-03 21:44] brandonwillard opened #143 "Remove optimizers from theano.compile.mode"
The `theano.gof.opt.Optimizer` subclasses defined in `theano.compile.mode` should be moved to somewhere like `theano.gof.opt`.  For that matter, all the `optdb.register` calls should probably be moved, as well.

Likewise, all the linker related code doesn't need to be there (e.g. `predefined_linkers`).

In general, there's no need to have all the `Mode`-related code so tightly coupled with all the

[2020-11-04 06:06] #36 closed

[2020-11-06 15:55] ferrine opened #146 "Implement JAX conversions for RandomFunction/RandomVariable Ops"
Random functions do not work with jax linker

[code]
raises
[code]

[2020-11-07 14:19] twiecki opened #147 "Add NUTS Op"
If we added a NUTS Op to Theano with implementations in JAX (e.g. from numpyro) as well as C (here's an implementation https://github.com/alumbreras/NUTS-Cpp, or we can use the STAN one directly) we could get incredible speeds across different execution backends.

[2020-11-07 21:05] brandonwillard commented on #147
This is an important and necessary step for PyMC, but I'm not sure that we could reasonably start hosting samplers in this codebase.  Instead, we can use this issue to discuss changes/updates needed in order to allow an efficient NUTS `Op` using standard Theano `Op`s.

[2020-11-07 21:08] brandonwillard commented on #146
The `RandomFunction` `Op` is in the process of being replaced via #137.  Once #137 is merged, we can implement JAX conversions for `RandomVariable` `Op`s.

[2020-11-07 21:26] brandonwillard commented on #121
The notebook recommends that one install the old `jax-linker` branch.  That branch was merged and is now very far behind.

Assuming this is the MWE you're running, under the version of Theano-PyMC, I get the following:
[code]
[code]

[2020-11-07 22:47] eigenfoo opened #148 "Rename project to Aesara"
There's a consensus among the PyMC developers to rename this project to Aesara, after the daughter of Theano and Pythagoras (at least, according to a minor tradition).

I propose the following import bindings, which seem aesthetically pleasing. If there's agreement on these bindings, we might as well set an example and use them in our own imports (e.g. our test suite).

[code]

This will be a larg

[2020-11-07 22:49] eigenfoo commented on #33
Closing in favor of #74.

[2020-11-07 22:49] #33 closed

[2020-11-08 04:45] twiecki commented on #147
Good point, these sampler Ops should probably live in PyMC3.

[2020-11-08 16:18] michaelosthege commented on #55
Do you mean to rename both? (To "Max" and "Min"?)

The way how I understand this docstring, the tensor Op is created from the scalar Op with the same name:

[code]
...
[code]

...

[code]

(all three code blocks are from tensor/basic.py)

[2020-11-08 17:35] eigenfoo commented on #148
We're name-squatting the `aesara` project on PyPI now: https://pypi.org/project/aesara/. Thanks @twiecki!

[2020-11-08 18:23] brandonwillard commented on #55
Yes, `theano.tensor.basic.[minimum|maximum]` are just `Elemwise`s `Op`s for the scalar `Op`s `theano.scalar.basic.[minimum|maximum]`.

This issue is simply recommending that we&mdash;for instance&mdash;prefix the scalar `Op`s with something like `scalar_*`, because reading the code and `str` outputs for `Op`s with name clashes like this can be unnecessarily confusing.

This isn't a user-level anno

[2020-11-09 15:29] canyon289 commented on #121
Thanks Thomas!

[2020-11-09 23:35] brandonwillard opened #151 "Implement missing *Subtensor lift optimizations"
We currently have only the most basic lift optimizations for `*Subtensor`s applied to unary `Op`s, but we could/should have many more.

The following illustrates the current lifting alongside one unimplemented case:
[code]
Before:
[code]
After:
[code]

As we can see, only the first case (i.e. a simple single element index `Op`) is lifted (via [`theano.tensor.opt.local_subtensor_lift`](https://gith

[2020-11-10 00:03] #52 closed

[2020-11-10 07:20] twiecki commented on #151
Wicked cool!

[2020-11-10 23:25] LegrandNico commented on #138
Maybe I can try to fix this one if it is not too advanced. I should start by writing the `@jax_funcify.register(Second)` function, right?

[2020-11-10 23:36] brandonwillard commented on #138
Yes, in general, that's the approach; however, there are some dispatch functions registered for `Op` base classes, and `Second` falls into one of those classes because it extends `ScalarOp`.

Ideally, we would be able to make some minor modifications to those existing base-class dispatch functions, but I don't think we can in this case (i.e. it doesn't have a NumPy equivalent function&mdash;to my

[2020-11-11 15:07] aubourg opened #156 "No JAX conversion for the given `Op`: SplineWrapper / scipy interpolate"
If you have any questions, please ask the [theano-user mailing list](https://groups.google.com/forum/#!forum/theano-users) or [stackoverflow](http://stackoverflow.com/) (using the "theano" tag) first.

## Description of your problem or feature request

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**Please provide the full traceback of any errors.**
[code]

**Plea

[2020-11-13 23:31] brandonwillard opened #159 "Replace broadcast_like with broadcast_to"
The function [`broadcast_like`](https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/tensor/opt.py#L169) can be replaced with the new `broadcast_to` function in most&mdash;if not all&mdash;cases.

The `broadcast_to` function uses view-based broadcasting instead of allocating filled arrays as `broadcast_like` does, so this change could introduce performance improvements in many general use s

[2020-11-14 09:02] Sayam753 opened #160 "Method not defined `I0e.c_code`"
If you have any questions, please ask the [theano-user mailing list](https://groups.google.com/forum/#!forum/theano-users) or [stackoverflow](http://stackoverflow.com/) (using the "theano" tag) first.

I was on the way to merge `fix_mv_random` branch from PR [pymc-devs/pymc3#4207](https://github.com/pymc-devs/pymc3/pull/4207) with @michaelosthege's PR [pymc-devs/pymc3#4214](https://github.com/pymc

[2020-11-14 19:21] eigenfoo commented on #69
Is this issue still relevant? If so, I'd be interested in taking this on.

The links have either broken or point to different lines than they originally did - for long-standing issues, it would be nice if we could link to lines/files at a specific commit, instead of a branch (which could change with subsequent commits).

[2020-11-14 22:52] junpenglao commented on #69
I started working on this - will try to finish this tomorrow.
assigning it to myself.

[2020-11-14 23:02] brandonwillard commented on #69
@junpenglao, do you mind setting up a draft PR?  This work is a great means of learning about `Scan`, and it might help @eigenfoo and others if they could follow its progress.

[2020-11-14 23:09] brandonwillard commented on #160
This is an interesting one.  It looks like the problem was introduced between 1.0.9 and 1.0.10.

[2020-11-15 03:22] #160 closed

[2020-11-15 06:50] twiecki opened #163 "Run PyMC3 test suite"
With all this heavy development work it will be very easy to inadvertently break PyMC3 which we will only discover in unrelated PyMC3 PRs. I thus propose to run the PyMC3 tests for Theano PRs as well.

[2020-11-15 07:36] brandonwillard commented on #163
We should continue to keep PyMC3 and Theano-PyMC separate.  If we want to avoid conflicts between the two, we can simply pin the Theano-PyMC version in PyMC3.

Otherwise, adding the PyMC3 tests to this project would greatly increase the test time and provide questionable coverage/quality improvements given the cost.  Such an addition would have us going down the same path that led to Theano-PyMC's

[2020-11-15 15:41] eigenfoo commented on #121
Closed by #153.

[2020-11-15 15:41] #121 closed

[2020-11-15 23:43] dfm opened #165 "Issue with JAX-ifying ops with multiple outputs"
There seems to be an issue with the jaxifying logic when treating nodes with multiple outputs. I haven't dug too much, but I found this for an op I'm working on for https://github.com/dfm/exoplanet. It was easy to reproduce using `MaxAndArgmax` which was the only op implemented in `sandbox.jaxify` that has multiple outputs (as far as I can tell). The following code will throw the relevant error:

[2020-11-15 23:50] brandonwillard commented on #165
There are more `Op`s with multiple outputs: see [`test_jax_basic_multiout`](https://github.com/pymc-devs/Theano-PyMC/blob/99f08ee3307b6084e204fa8327824af62e51b39a/tests/sandbox/test_jax.py#L252).

[2020-11-15 23:52] dfm commented on #138
I just ran into this one too! @LegrandNico, if it's helpful, this seemed to work, but I didn't write any formal unit tests:

[code]

[2020-11-16 00:00] dfm commented on #165
@brandonwillard: good point. Those work because the outputs are not being used together as inputs lower in the graph. If I run those tests, they pass. But, if I replace the first one, for example, with:

[code]

I get the same error.

[2020-11-16 00:01] brandonwillard commented on #165
Yeah, I think I know what's causing it; I'll set up a PR.

[2020-11-16 00:55] canyon289 commented on #53
To double check are we referring to lines like this?
https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/scalar/basic.py#L730

or these

https://github.com/pymc-devs/Theano-PyMC/blob/master/theano/scalar/basic.py#L899

That should be moved to their respective type.py modules?

[2020-11-16 01:16] brandonwillard commented on #53
Yes, both of those examples look like the definitions I'm talking about.

It's just weird that we would require loading/referencing huge modules like `theano.[tensor|scalar].basic` just to get instances of types that are defined in other files.

[2020-11-16 01:19] canyon289 commented on #53
Agree, will start refactoring these

[2020-11-16 01:57] #165 closed

[2020-11-16 10:21] twiecki commented on #163
I think you're right about pegging the version.

[2020-11-16 10:21] #163 closed

[2020-11-16 16:55] brandonwillard opened #170 "Ensure that there's only one evaluation of a multi-output JAXified `Op`"
@brandonwillard: One question about this implementation because I'm not sure that I fully understand everything that's happening: Will this lead (on the JAX side) to the function being evaluated multiple times, once for each output? I'm not sure that I know enough about the JAX implementation details to know!

_Originally posted by @dfm in https://github.com/pymc-devs/Theano-PyMC/issues/166#issuec

[2020-11-16 17:03] brandonwillard commented on #170
Answering the question here: It might be evaluated more than once, but that also depends on what the JAX tracing does.  There's only one function created and used for a given call, but the #166 does [call it separately for each output](https://github.com/brandonwillard/Theano-PyMC/blob/459f1f2d0b0e7e233cf5b8eaf83409c26775ab54/theano/sandbox/jaxify.py#L164).

We could cache a single thunk for the `

[2020-11-16 17:19] brandonwillard commented on #163
FYI: I pinned the version in pymc-devs/pymc3#4218.

[2020-11-16 18:27] brandonwillard opened #171 "Implement Apply.__eq__"
There is no `__eq__` implementation for `Apply` nodes, but there probably should be if we want to fix the unnecessary, confusing, and extremely error-prone in-place updates that are currently performed on Theano graphs.

This is one step in #37.

[2020-11-16 19:03] brandonwillard opened #172 "NumPy typed NaN conversion issue"
This example raises an issue during type filtering:
[code]
[code]

[2020-11-16 21:39] brandonwillard opened #175 "Prevent Codecov from prematurely reporting failures"
Our current CI setup reports intermediate coverage states and results in temporary and misleading error reports.  If we can prevent it from reporting failures for intermediate results, that would be great, but, if not, let's change it to only show/send a report when it's completely finished with all test jobs.

[2020-11-16 22:23] brandonwillard commented on #175
@OriolAbril, do you know if we can move the `codecov-action` step into the `combine` job to fix this?

[2020-11-17 00:47] #172 closed

[2020-11-17 00:54] dfm commented on #170
I can confirm that, when `jit`-ed the multiple calls seem to be optimized out. The function is *traced* multiple times but only actually evaluated once.

[2020-11-17 00:59] brandonwillard commented on #170
Perfect!  I really didn't want to add something for that.

[2020-11-17 00:59] #170 closed

[2020-11-17 01:01] brandonwillard commented on #170
@dfm, is there a good way to make a unit test for that?

[2020-11-17 01:04] dfm commented on #170
Hmm. I'm not too sure. Since I'm writing my own XLA calls I could just add a print statement but I'm not sure how easy it would be to formally test. I'll think about it.

[2020-11-17 13:49] dfm opened #177 "Many failures when jit-ing JAX-ified ops"
If we turn on `jax.jit` in the JAX tests

<details>
<summary>See diff</summary>

[code]
</details>

most of the unit tests fail with errors related to calling numpy functions on JAX trace objects. This will be a huge problem (JAX isn't all that useful without `jit`!) so we should definitely be testing for and supporting this.

Am I missing something here?

[2020-11-17 13:53] dfm opened #178 "IfElse JAX conversion should use cond"
Related to #177:

The current implementation of the JAX translation for the IfElse op is going to be problematic [because of how JAX handles control flow when `jit`-ing](https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#%F0%9F%94%AA-Control-Flow). We should probably be using [`jax.lax.cond`](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.cond.html) instead.

[2020-11-17 14:31] junpenglao commented on #177
theano_jax_fn is already jitted.

[2020-11-17 15:20] dfm commented on #177
haha - womp :D

[2020-11-17 15:20] #177 closed

[2020-11-17 22:32] brandonwillard opened #179 "Use non-stack-based recursion"
One of things about our current approach toward some forms of graph traversal and optimization that really bothers me is how recursion is handled.  It's done naively in Python and, as such, is bound by the Python stack.

Python has no TCO, so these kinds of problems need to be fixed manually.  At some point, I would like to generalize and use [the approach taken in `unification` and `etuples`](htt

[2020-11-18 00:48] eigenfoo commented on #178
I'd be interested in taking this on.

To clarify, we'd want to change

https://github.com/pymc-devs/Theano-PyMC/blob/a9275c3dcc998c8cca5719037e493809b23422ff/theano/sandbox/jaxify.py#L530-L536

to be something like

[code]

Is that right? Also, how can we test the jit-friendliness of the new `IfElse` implementation?

[2020-11-18 01:18] eigenfoo commented on #178
Actually, using that function fails the corresponding test:

[code]

The problem is the "unwrapping" of the `res` object on line 536 - the if and else branch need to return the same type. Can we do anything about this?

[2020-11-18 08:57] junpenglao commented on #138
@LegrandNico any progress on this? Let us know if you have got any blocker.

[2020-11-18 09:39] junpenglao opened #182 "Design proposal: Add a `is_static_jax` property to TensorVariable"
Jax jit requires static inputs for some of the function args (for example, `shape` in `jnp.reshape`, `length` in `jax.lax.scan`). Currently, if these are symbolic input it will break `jax.jit` in
https://github.com/pymc-devs/Theano-PyMC/blob/a9275c3dcc998c8cca5719037e493809b23422ff/theano/sandbox/jax_linker.py#L80

I propose we add a property to `TensorVariable` in:
[code]
and `SharedVariable`
[co

[2020-11-18 15:59] brandonwillard commented on #182
I thought static parameters are effectively `Constant`s;. is that not the correct indicator already?

Also, if I recall, `static_argnums` only applies to the inputs of the JITed function, which implies that such an indicator would only have relevance during the JAX transpilation process and nowhere else.

[2020-11-18 16:04] junpenglao commented on #182
I guess those are parameters not actually static parameters (thus they are not Constants), but nonetheless due to the limit of XLA you need to treat them as static at runtime. If we can mark them as static, it gives us a bit of additional flexibility to jit those function.

Yes that's right.

[2020-11-18 22:10] brandonwillard commented on #182
At a high level, we shouldn't add properties to classes unless they're directly relevant to the concepts/objects being modeled by the classes (e.g. a `TensorVariable` class should only concern itself with properties relating tensors and/or variables).  This particular addition is far too specific to the JAX transpilation process, and, just like the numerous C-related methods attached to our classe

[2020-11-18 23:13] #133 closed

[2020-11-19 10:10] AlexAndorra opened #183 "Implement vector-proof Softmax function"
## Description
_Originally reported by @ricardoV94 [here](https://github.com/pymc-devs/pymc3/pull/4229)_

Currently, `tt.nnet.softmax` raises `UserWarning: DEPRECATION: If x is a vector, Softmax will not automatically pad x anymore in next releases. If you need it, please do it manually. The vector case is gonna be supported soon and the output will be a vector.` in two places:

- https://github.c

[2020-11-19 11:13] michaelosthege commented on #94
I was shocked to see that `configdefaults.py`+`configparser.py` are a 2_800 line monstrosity, but I believe it's an important contribution to clean it up.

So I'm willing to take this issue..

@brandonwillard:
- how open are we to breaking support with previous config file/flag features?
- `test_config.py` is 45 lines and the test suite does not seem to include a single config file to test with. D

[2020-11-19 13:41] ricardoV94 commented on #183
In addition, it might be helpful to implement a more flexible softmax function that also accepts the axis argument

[2020-11-19 13:49] LegrandNico commented on #138
Sorry, I get a bit lost with the dispatch function problem an will not be able to work on it before next week so if someone else wants to take the lead on this in the meantime please do.

[2020-11-19 18:51] dfm commented on #183
Another option might be to just remove the warning unless someone has plans to remove this support? It looks like that warning was added 3 years, but I don't think anything has been done since then to remove this support.

[2020-11-19 18:58] dfm commented on #178
@eigenfoo: I'm not too sure what the right answer is. Theano and JAX are differently strict about the conditions required for control flow like this so we might always run into some issues.

But, I think that [the current tests only touch cases where the argument of the conditional is a constant](https://github.com/pymc-devs/Theano-PyMC/blob/master/tests/sandbox/test_jax.py#L463-L478). A good plac

[2020-11-19 19:20] brandonwillard commented on #94
We'll have to determine that on a case-by-case basis, because it really depends on exactly what we're planning to break.  In general, I don't mind changing the interface or something similar, though.

If we can test functionality directly (i.e. not indirectly via a parsed file), then we should definitely do that.  Also, we can craft configs as strings within tests and keep things much more self-co

[2020-11-19 19:29] #138 closed

[2020-11-19 19:41] brandonwillard opened #186 "Implement mit-mots conversion in the JAX translation of the Scan Op"
This is a continuation of the `Scan` JAX conversion implemented in #169.

[2020-11-19 23:57] eigenfoo commented on #178
Sorry for my ignorance - what do you mean by a "traceable tensor"?

[2020-11-20 00:00] dfm commented on #178
Haha! Just a tensor 😀. Like

tt.dscalar() < 0.5, for example.

[2020-11-20 00:05] eigenfoo commented on #141
@brandonwillard is there a list of what Theano code is precision-dependent? If not, is there any way for us to find out? If we had a checklist it would be much easier for someone to step up and contribute.

[2020-11-20 00:22] brandonwillard commented on #178
From what I've seen, `jax` just "traces" the function it's JITing by&mdash;for example&mdash;performing calls on a wrapped version of said function with `mock`-like arguments that are essentially symbolic arrays: these are the "traced" arrays.  Through this process it builds what amounts to a symbolic graph, and, as it descends into inner functions of the outer-most JITed function, it creates more

[2020-11-20 01:52] brandonwillard commented on #141
There isn't, but we could make one by [`ag`](https://github.com/ggreer/the_silver_searcher)ing for `floatX` and picking out the relevant (i.e. testable) examples.  Also, I'm sure we'll find a few cases in which `floatX` is used at the module level; those pieces of code will need to be rewritten so that `floatX` value can be changed at runtime.

[2020-11-20 02:54] brandonwillard opened #188 "Move JAX linker from sandbox"
At some point soon, we should move the JAX linker (i.e. `theano.sandbox.jaxify` and `theano.sandbox.jax_linker`) out of `theano.sandbox` and into wherever we keep the linkers.

Currently, the linkers and their modules don't have their own sub-package, but they probably should, so we'll need to sort that out before moving the JAX code.

[2020-11-20 03:48] #69 closed

[2020-11-20 11:32] Sayam753 opened #189 "Cannot access Theano documentation"
I just went to http://www.deeplearning.net/software/theano for theano documentation and it gives 404 error. Is this because of changes in Theano-PyMC?

[2020-11-20 11:39] twiecki commented on #189
Probably not, but we should start thinking aobut hosting our own docs.

[2020-11-20 11:50] dfm commented on #189
https://theano-pymc.readthedocs.io is current and connected to this repo AFAIK.

[2020-11-20 11:52] Sayam753 commented on #189
That's great @dfm. Thanks.
@twiecki can you update the about section of this repo with correct docs link?

[2020-11-20 12:33] Sayam753 commented on #189
@dfm there are still internal links that point back to original theano repo. I was trying to access Cholesky decomposition `source` from https://theano-pymc.readthedocs.io/en/latest/library/tensor/slinalg.html, but it took me to original theano.

[2020-11-20 12:40] dfm commented on #189
Yeah - I can't vouch for the details of the docs! New docstrings are included and it's built using the source in this repo, but I don't think anyone has worked on auditing the documentation itself. I was just saying that the readthedocs.io version wouldn't be *worse* than the deeplearning.net ones...

This particular comment is probably related to this:

https://github.com/pymc-devs/Theano-PyMC/bl

[2020-11-20 12:46] Sayam753 commented on #189
Many thanks @dfm for clarification. For now, I will close the issue since I have access to theano documentation.
I agree on fixing the internal links and that can be tracked in separate issue/PR.

[2020-11-20 12:46] #189 closed

[2020-11-21 07:19] brandonwillard opened #190 "Make merge_two_slices use the FunctionGraph framework"
The optimization helper function `merge_two_slices` uses the function `pre_greedy_local_optimizer` multiple times, which results in multiple in-place updates to old and newly generated variables.

It actually tries to avoid making changes to old variables that have a `FunctionGraph`, but this logic relies entirely on mutations to the variables themselves (i.e. the addition of a `Variable.fgraph` p

[2020-11-21 10:26] katosh commented on #183
The warning may not be misplaced. `tt.nnet.softmax` behaves as if `axis=1` is passed and this should not work on vectors. To fix this, the operation pads a `(1,)` to the left of the vector shape:
https://github.com/pymc-devs/Theano-PyMC/blob/a9275c3dcc998c8cca5719037e493809b23422ff/theano/tensor/nnet/nnet.py#L448
and the result of the operations has a shape that may be surprising:
[code]
So the us

[2020-11-21 14:38] AlexAndorra commented on #183
IIUC, the clearly best solution would be to refactor the current Theano implementation to make it work with an `axis` kwarg and set this to default to 0. But you seem to imply that it's difficult to do so @katosh ?

As a fallback option, would replace the current implementation by the one below (that we use in the PyMC3 code base as you know) be a good solution?

[code]

[2020-11-21 14:53] dfm commented on #183
I don't think there's a fundamental reason why using an implementation like that is a bad idea (there's nothing fancy happening in the current implementation! It looks like using BLAS commands was considered then commented out...) but there might be some performance hit depending on how well theano fuses non-elemwise ops. The other catch is that I don't think it makes sense to *just* replace this

[2020-11-22 03:55] canyon289 commented on #53
For anyone else that would like to try this issue ticket, here is a PR I started with helpful comments from Brandon and others. Check it over to get more information and perhaps use it as a starting point https://github.com/pymc-devs/Theano-PyMC/pull/180

[2020-11-23 01:45] brandonwillard opened #192 "Remove remaining side-effects and in-place updates during graph optimization"
After #158 is merged, most of the unnecessary side-effect-generating and in-place updating logic that occurs during optimization will be gone; however, the `FunctionGraph` constructor's `outputs` argument is still a list that is **not** copied, so any changes made to it will alter the state of the `FunctionGraph`s that use it.  We need to fix that.

[2020-11-23 17:54] #100 closed

[2020-11-23 17:54] #190 closed

[2020-11-23 23:26] brandonwillard opened #197 "Use Hypothesis for testing"
Given the clear constraints of our problem domain(s) and the amount of repetition found within our test suite, it might be worth using [Hypothesis](https://hypothesis.readthedocs.io/en/latest/).  That seems like a good platform upon which we can build more extensible and robust testing.

[2020-11-24 07:25] martiningram opened #198 "`jax_funcify` fails on `AdvancedIncSubtensor1`"
Hi Theano-PyMC devs,

Thanks for the fantastic work on the JAX backend, it's really exciting!

I realise it's very early days and I feel bad for even opening an issue given that you may all be well aware of this already, but I was trying to use the new JAX backend on the LKJ example:
https://github.com/pymc-devs/pymc3/blob/master/docs/source/notebooks/LKJ.ipynb
and I ran into an error that I thoug

[2020-11-24 08:23] twiecki commented on #198
Thanks for reporting @martiningram, these are exactly the type of issues we're looking for. Thanks for checking out the JAX backend. It looks like the Op exists but its trying to access `idx_list` which doesn't seem to exist for `AdvancedIncSubtensor1`.

I think what needs to be done here is to add a separate implementation for `AdvancedIncSubtensor1` (probably close to the one we have for `Advanc

[2020-11-24 08:24] twiecki commented on #198
This also highlights that we're missing a test for this.

[2020-11-24 20:49] #198 closed

[2020-11-24 21:18] brandonwillard opened #200 "Add type information"
This project would probably be a lot easier to understand and navigate with type annotations.

[2020-11-26 03:38] #175 closed

[2020-11-26 03:44] #178 closed

[2020-11-29 12:03] michaelosthege opened #202 "Remove Python 2 style int division"
The config setting `int_division` allows for Python 2 style integer division. Python 2 was EOL and we should stop supporting this.

The `int_division` config setting is accessed in 6 places of `basic.py`.

[2020-11-30 17:54] brandonwillard opened #203 "Use a more robust file/directory lock"
The lock currently used for preventing race conditions during compilation&mdash;i.e. [`theano.gof.compilelock`](https://github.com/pymc-devs/Theano-PyMC/blob/55ef0e6b7380e062bdd09fcd7f820643f8521fb0/theano/gof/compilelock.py#L1)&mdash;appears to rely on a shared memory context (e.g. [here](https://github.com/pymc-devs/Theano-PyMC/blob/55ef0e6b7380e062bdd09fcd7f820643f8521fb0/theano/gof/compilelock

[2020-11-30 17:57] MarcoGorelli commented on #200
if there's already a test suite, then `monkeytype` could help here

[2020-12-01 01:05] brandonwillard commented on #200
There are a lot of tests for such a tool to work with, so we should definitely try one.

[2020-12-02 00:20] brandonwillard opened #205 "BLAS ldflags initialization warning string error"
@canyon289 found an issue in the process of determining the BLAS ldflags.  Apparently [an old uncovered change](https://github.com/pymc-devs/Theano-PyMC/commit/4ec4edaa35c96af0943fddeefcfe03fc75b6be90) stores a single `logging` warning string to print when the `mkl` libraries aren't present (i.e. [here](https://github.com/pymc-devs/Theano-PyMC/blob/d660ea780d3d92725609cdb4906351c63fb7ec20/theano/c

[2020-12-02 04:03] #205 closed

[2020-12-04 20:36] brandonwillard opened #209 "Construct a means of maintaining RNG consistency between graph rewrites"
While attempting to create a lift optimization for `DimShuffle`s on `RandomVariable`s I came across an issue involving numeric reproducibility.

The problem is neatly summarized by the following NumPy-only example:
[code]
The first case is the numeric result one would obtain from a `DimShuffle`d `RandomVariable` graph.  The second is the lifted version of the same graph.  Both result are theoretic

[2020-12-05 17:27] rpgoldman opened #210 "Pointer to Theano docs in README.md is out-of-date"
Points to docs hosted on `deeplearning.net`, but those seem to be gone now.

[2020-12-05 19:32] #210 closed

[2020-12-07 06:57] skoval opened #215 "Add Theano JAX Op for batched_dot"
I have a multi-level model with a multivariate outcome and group effects for multiple covariates. I constructed the observation-level effects (`alpha` with shape (n, p, d)) and used `theano.tensor.batched_dot` with the model matrix `X`, shape (n, p), to get the observation-level means `mu` of shape (n, d). This returns the following error when running the jax NUTS sampler:

[code]

Would it be pos

[2020-12-07 08:24] twiecki commented on #215
@skoval That's certainly something we need to add. Not quite sure what the JAX analogue would be, at the core it's just a `dot` in a loop. Perhaps we can even assemble this out of a `scan` and a `dot`, as we have JAX implementations for both. Is that something you'd be interested in contributing? We'd help of course, it would be a great contribution.

[2020-12-07 13:32] junpenglao commented on #215
Sounds like it is much easier to replace it with a `einsum`:
`jnp.einsum("...ij,...i->...j", a, b)`

[2020-12-07 13:37] twiecki commented on #215
Nice!

On Mon, Dec 7, 2020, 14:32 Junpeng Lao <notifications@github.com> wrote:

[2020-12-07 17:17] ricardoV94 opened #216 "JAX error when using pymc3.Dirichlet: 'list' object is not callable"
I was testing out the new jax backend in one of the models I am working with recently, and it fails with the error message in the title. I tried several permutations of explicit shape specification, but the error happens all the time. Any ideas?

## Description of your problem

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**This is the end of the trace (truncated

[2020-12-07 20:32] dfm commented on #216
I think this might be related to https://github.com/pymc-devs/Theano-PyMC/pull/166 but that fix should have been included in release v1.0.11 so perhaps there's a remaining issue.

[2020-12-08 00:58] brandonwillard commented on #216
@ricardoV94, it gave you this error only after creating the model?

[2020-12-08 06:41] ricardoV94 commented on #216
I could create the model, the error was when sampling with Jax numpyro. I see that I didn't copy that part of the snippet :/ I will update it soon

[2020-12-08 20:44] brandonwillard commented on #216
Yeah, @dfm, is correct: the graph contains a `MaxAndArgmax` `Op`, which has multiple outputs.  The multiple-outputs fix was introduced right after the 1.0.11 tag, which is where PyMC3 3.10 currently is.

<details><summary>Here's the full graph:</summary>
[code]
</details>

[2020-12-08 21:12] brandonwillard commented on #216
I just created [a new release](https://github.com/pymc-devs/Theano-PyMC/releases/tag/rel-1.0.12) with the multi-output fixes.  We can target this in the next PyMC3 update.

[2020-12-12 15:22] bergesalexis commented on #197
Hi ! I'm interested in helping out for this. @AlexAndorra is a friend and talked to me about this issue.

I don't have any background in OSS, but have been coding in python for the past 7 years, and I am at the head of a team of 10 data scientist + data engineer in my current job, so I am quite familiar with the importance of test suites, and of proper CI/CD :). I am also already familiar with Hyp

[2020-12-12 15:24] bergesalexis commented on #197
Hi ! I'm interested in helping out for this. @AlexAndorra is a friend and talked to me about this issue.

I don't have any background in OSS, but have been coding in python for the past 7 years, and I am at the head of a team of 10 data scientist + data engineer in my current job, so I am quite familiar with the importance of test suites, and of proper CI/CD :). I am also already familiar with Hyp

[2020-12-12 18:24] #215 closed

[2020-12-14 00:48] brandonwillard opened #220 "Implement a Type for the new NumPy RNG framework"
We need to implement a `Type` and shared `Variable` class for [NumPy's new RNGs](https://numpy.org/doc/stable/reference/random/new-or-different.html#new-or-different) (i.e. [`Generator`](https://numpy.org/doc/stable/reference/random/generator.html#numpy.random.Generator)).  There are apparently [some performance improvements](https://numpy.org/doc/stable/reference/random/performance.html) in these

[2020-12-14 10:54] michaelosthege commented on #202
closed by #217

[2020-12-14 10:54] #202 closed

[2020-12-14 12:42] #188 closed

[2020-12-14 16:01] twiecki opened #222 "Add tutorial NB demonstrating new RandomVariable Op"
There is a lot to be excited about with the new `RandomVariable` `Op`. However, I think the benefits and how to use it currently only stored in @brandonwillard's head. In order to communicate these ideas to a broader audience an tutorial NB would go a long way.

[2020-12-14 18:23] brandonwillard commented on #222
Well, it's not _completely_ in my head; remember, it's all coming from these old posts: [Symbolic Math in PyMC3](https://brandonwillard.github.io/symbolic-math-in-pymc3.html) and [Random Variables in Theano](https://brandonwillard.github.io/random-variables-in-theano.html).  Also, all the time series examples from [Dynamic Linear Models in Theano](https://brandonwillard.github.io/dynamic-linear-mo

[2020-12-15 00:37] brandonwillard opened #223 "Move the remaining Linkers to theano.link"
Now that we have a `theano.link` sub-package, we should move the other `Linker`s&mdash;and perhaps `theano.gof.link`&mdash;there, as well.

[2020-12-15 09:40] ricardoV94 opened #224 "Return NaN in C implementations of SciPy Ops"
This is related to https://github.com/pymc-devs/pymc3/issues/4340

I am trying to use the `GammaIncc` Op, which makes use of the C code function `GammaQ`, which begins with an assertion for the two parameters. This is problematic when using the tensor version of the scalar op (via @_scal_elemwise), as I don't see how to gracefully avoid the assertion error.

To make this concrete, gammaincc is bei

[2020-12-15 16:04] dfm commented on #224
This is a good point! While it is true that the results are undefined for those parameters, I think that *all* the functions in `gamma.c` should be updated to return NaN for invalid parameters rather than a C-assertion.

[2020-12-15 19:24] michaelosthege commented on #66
Was this closed by #131 or #137 ?

[2020-12-15 19:42] michaelosthege commented on #146
Pinging @ferrine because the `RandomVariable` was merged.

[2020-12-15 19:44] ferrine commented on #146
Cool

[2020-12-15 20:01] michaelosthege commented on #216
Let's close this issue to not get distracted. It's released and @ricardoV94 is aware of it.

[2020-12-15 20:01] #216 closed

[2020-12-15 20:19] michaelosthege opened #225 "Refactor away module-level dependency on config.xyz settings"
Many config settings are set to `mutable=False` which complicates testing.

Some of those config settings were set to immutable, because module-level variables, or even Type initializations and possibly function signatures read them at import-time.

The occations of such module-level `config.xyz` references should be replaced with functions or the like.

Please help to identify such settings, open

[2020-12-15 21:52] #66 closed

[2020-12-15 22:34] #94 closed

[2020-12-16 07:46] CloudChaoszero opened #226 "MacOS Theano Error ---- ['MRG_RandomStreams' from 'theano.sandbox.rng_mrg']"
## Description of your problem or feature request

Hey team, hope you are doing well & are safe! :)
### TL;DR
 I receive an error from Theano, typically after creating new conda environment, and running examples

The latest error:
[code]
### 1.New Conda environment

[code]

I first installed Pymc3 through conda forge
`conda install -c conda-forge pymc3`

After, I was faced with an error quite simi

[2020-12-16 07:46] CloudChaoszero commented on #226
Sample of my `conda list`
[code]

[2020-12-16 10:39] michaelosthege commented on #226
Looks like you're trying to combine PyMC3 3.10.0 with latest Theano-PyMC. This will not work, because we made some changes in Theano-PyMC that break some internals in PyMC3. That's why PyMC3 3.10.0 is pinned to Theano-PyMC 1.0.11.

[2020-12-16 18:21] CloudChaoszero commented on #226
@michaelosthege Thanks for the response. Okay, so when I download using `conda install -c conda-forge pymc3`, step 1, I get an error exactly like #127.

Example: Elemwise{add,no_inplace}
[code]

Should I update theano, in that case?
______
I can re-try again too haha

[2020-12-16 18:56] michaelosthege commented on #226
1st make sure that Theano is not already installed in the environment.
Then you could try installing pymc3 via pip. On Windows the install strategy through conda-forge gave me a lot of problems once, so I don't trust it anymore.

Conda runs some of the tests after install. Maybe the problem arises because of that?

[2020-12-16 21:28] brandonwillard commented on #226
Looks like that new error is #127.

[2020-12-16 21:28] #226 closed

[2020-12-16 23:26] michaelosthege opened #229 "Add type hints to signatures of basic linker types"
After #228 is merged - or even on the same branch we urgently need type <s>hints</s> <s>annotations</s> hints on some core classes:
+ `Linker`, `LocalLinker`, `PerformLinker`
+ `VM`
+ `FunctionGraph`

And also on the related helper functions such as `streamline` or `map_storage`.

The description under this links is a good entry point for starters: https://theano-pymc.readthedocs.io/en/latest/exte

[2020-12-17 20:58] twiecki opened #230 "Add tutorial on how to write new JAX implementations for new OPs"
To make it easier for new contributors to add JAX implementations, we should have a small NB that gives an example.

[2020-12-17 21:42] rpgoldman opened #231 "Warning floods"
## Description of your problem or feature request

Running one of my models, I see almost 50 lines of

[code]

As far as I can tell, this is generated by one of these two code blocks:

https://github.com/pymc-devs/Theano-PyMC/blob/9f7cf7d09fb2139ba15a06e385dae50527614f83/theano/tensor/opt.py#L7640

and/or

https://github.com/pymc-devs/Theano-PyMC/blob/9f7cf7d09fb2139ba15a06e385dae50527614f83/thean

[2020-12-19 22:01] rpgoldman commented on #231
See #232

[2020-12-20 15:01] michaelosthege opened #233 "Remove unnecessary import from theano init file"
Classes like `Container`, `PerformLinker` and so on are not user-facing.
By removing their import from the main `__init__.py`, we can reduce import cycles.

[2020-12-20 15:03] michaelosthege opened #234 "Import config from theano.configdefaults throughout the codebase"
We should not rely on the top-level "theano" module for referencing things from within the codebase.

There should be no need to `import theano` anywhere in the codebase (see #235).

[2020-12-20 16:37] michaelosthege opened #235 "Don't import theano from within the codebase"
Related to #233 and #234.

Instead of `import theano` to get access to a specific class or function, we should directly import the respective file.
This way we can reduce unnecessary import dependencies and import cycles.

For example:
[code]
instead
[code]

[2020-12-20 20:09] brandonwillard commented on #235
Also, see #45.

[2020-12-21 02:44] brandonwillard opened #237 "Replace lazylinker_c with a more concise Cython implementation"
`lazylinker_c.py` is a fairly straightforward hand-written C extension that could be much more maintainable and likely just as performant if it were rewritten in Cython.

[2020-12-22 02:33] #223 closed

[2020-12-24 20:35] brandonwillard opened #238 "Rename "optimization" to "rewrite""
What we're naively calling "optimizations" throughout Theano-PyMC are actually "rewrites".  The term "optimization" has some very specific&mdash;and strong&mdash;implications that are **not** met in far too many cases, so we absolutely must correct this sooner than later.

[2020-12-26 08:26] michaelosthege opened #240 "Some local functions cause pickling issues in PyMC3"
See https://github.com/pymc-devs/pymc3/pull/4382

[2020-12-27 10:20] #240 closed

[2020-12-27 10:25] twiecki opened #243 "Failing PyMC3 tests: with ValueError: Trying to rebroadcast non-existent dimension"
From https://github.com/pymc-devs/pymc3/pull/4382:
[code]

[2020-12-27 11:34] michaelosthege commented on #243
This is a severe digression.

We can't cut a release unless this is fixed.

[2020-12-27 13:12] michaelosthege commented on #243
Just making some notes here:

| Theano version | PyMC version | Result |
| - | - | - |
| abc69153 | b7daf266 | ✔️ *not 100 % compatible, but the bug is not yet there* |
| ... | ... | ... |
| 50c60b6b | 4d1e01b5 | ❌ Trying to rebroadcast non-existent axis |

[2020-12-27 17:24] brandonwillard commented on #243
Is this an issue for a _feature branch/PR_?

[2020-12-27 17:41] michaelosthege commented on #243
Yes - the PR that attempts to restore compatibility.. Maybe it should not switch the RNG ? I'm not familiar with this stuff

[2020-12-27 17:53] brandonwillard commented on #243
First, it's rather odd to have an issue in this repo for a PR in a different repo, especially when it's not even clear whether or not the underlying issue is due to something in this repo.  This is all stuff that's well contained within the PR itself.

[2020-12-27 20:32] brandonwillard commented on #243
I've looked over this PR and `pymc3.variational` code that's failing is simply calling `tt.patternbroadcast` with inconsistent arguments, so there's no sign of a Theano-PyMC bug&mdash;yet, at least.

Let's continue working on this in the PR; otherwise, there will be too much unnecessary back-and-forth.

[2020-12-27 20:32] #243 closed

[2020-12-27 23:27] brandonwillard commented on #197
#141 and/or #16 are probably the best places to start.  They're both rather high-level changes, so you would need to get a broad overview of the elements involved before making changes.  Unfortunately, there's no avoiding that.

#16 has more specifics to work with, but #141 is the simplest in terms of the general idea and perhaps the most immediately measurable improvement that could be made betwe

[2020-12-28 16:29] canyon289 commented on #238
For reference found this talk from 2016 where they explain further what they consider an optimization is
![Uploading image.png…]()
https://youtu.be/OU8I1oJ9HhI?t=1028

[2020-12-28 18:14] brandonwillard commented on #238
Even with complete awareness of their intention, "rewrite" is still the correct terminology.

Descriptions like "optimization" can only reasonably be used for the `optdb` classes that collect rewrites of a certain type (e.g. "stabilizations", canonicalization rewrites,  etc.)

[2020-12-28 18:18] canyon289 commented on #238
Yep, not disagreeing with what you're saying in this issue, just adding a reference

[2020-12-29 18:00] luke14free opened #249 "Beta and Kumaraswamy distributions break the Jax Sampling (numpyro_nuts/sample_tfp_nuts)"
I am fully aware that this is 100% experimental but wanted to report that using any beta distribution in your model will break jax sampling.

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**Please provide the full traceback.**
[code]

Requires the master of [Theano-PyMC](https://github.com/pymc-devs/Theano-PyMC), as well as JAX, TFP-nightly and numpyro.

## Versio

[2020-12-30 14:01] #234 closed

[2020-12-30 14:08] twiecki commented on #249
No idea what `nfunc_spec` does. @luke14free do you think that's the right fix? Want to do a PR?

[2020-12-30 14:17] luke14free commented on #249
Not really.. Ideally`jax_funcify_ScalarOp` should be agnostic on what function passed does.

So what I am thinking is that the `jax_funcify_ScalarOp` should somehow leverage the take function from numpy to get the -1th element (with a limit of 2 arguments). Will keep you posted, but the PR should be for theano-pymc.

[2020-12-30 14:30] twiecki commented on #249
@luke14free OK, keep me posted. I moved the issue over.

[2020-12-30 15:01] dfm commented on #249
This was fixed in #185, I believe.

[2020-12-30 15:05] luke14free commented on #249
I see that 185 solves the specific case; I was wondering what happens to the other functions which are non-jaxable (i.e. have no direct translation from numpy) though.

What about something like this?

[code]

[2020-12-30 15:10] dfm commented on #249
I don't think that specific recommendation would work, since `impl` operates on numpy arrays, not JAX tensors. Do you have other examples of ops that are not currently supported? It's not hard to add the special cases.

[2020-12-30 15:20] luke14free commented on #249
Ah now it makes a lot of sense now. Well this should solve it and I will just try to install theano-pymc from git to have the latest version! thanks a lot!!

[2020-12-30 15:20] #249 closed

[2020-12-30 16:03] twiecki commented on #249
Note that there are still some incompatibilities between theano and pymc3 master.

[2021-01-01 05:38] CloudChaoszero commented on #235
Hey @michaelosthege I am interested in proposing a PR for this in the near future.

[2021-01-01 10:16] twiecki commented on #235
That's great @CloudChaoszero, assigned to you!

[2021-01-01 10:28] michaelosthege commented on #235
Just to reiterate why this issue exists:
Many `__init__` files import lots of things from child modules. Importing stuff from these init files introduces many unnecessary dependencies, and in some cases cycles.
By importing like
* `from theano.something.basic import Stuff, OtherStuff`
* `import theano.something.basic as sbasic`
* `from theano.something.basic import (add as something_add, vectorize

[2021-01-01 11:18] twiecki opened #257 "Rename gof submodule"
To this day I have no idea what `gof` means, but what I understand is that it contains graph utilities.

Ideas for new names:
* `graph`
* `graph_utils`

[2021-01-01 11:46] CloudChaoszero commented on #235
@michaelosthege  Thanks for the additional details!! I can check it out sometime later this week if I have questions.

cc: Thanks @twiecki for the assignment.

[2021-01-02 00:01] brandonwillard opened #258 "Rewrite graph traversal functions as generators"
It seems like the graph traversal functions in `theano.gof.graph` (e.g. `stack_search` and all the ones based on it) could be turned into generator functions.

Generator versions of such functions would allow us to more flexibly short-circuit searches, instead of always needlessly walking the entire graph.  For example, with generators, an expression like `node in ancestors([graph])` would stop wa

[2021-01-02 20:39] #23 closed

[2021-01-02 20:43] #203 closed

[2021-01-03 00:13] #55 closed

[2021-01-03 10:54] ricardoV94 opened #260 "Issue with softplus approximation"
The current implemenation of softplus (aka log1pexp) uses two bounds to decide whether to return `0, log1p(exp(x)), or x`

https://github.com/pymc-devs/Theano-PyMC/blob/511c778f8a595444e009bcad738d552413b16f2c/theano/tensor/nnet/sigm.py#L356-L366

So far so good (almost). However, different bounds are used for the `c_code` depending on the precision being used https://github.com/pymc-devs/Theano-P

[2021-01-03 13:07] twiecki commented on #260
Thanks for the thorough investigation. I think going with the paper's suggestion is the way to go here, as we really don't know where those original bounds come from and they seem to have some problems. Want to make a PR?

[2021-01-03 13:21] ricardoV94 commented on #260
I can give it a try @twiecki

[2021-01-03 20:49] #258 closed

[2021-01-06 15:54] #260 closed

[2021-01-07 19:48] michaelosthege commented on #231
@rpgoldman was this issue fixed by #232 ?

[2021-01-07 21:16] rpgoldman commented on #231
@michaelosthege I'm not sure how I would know the answer to that question, because I use Theano only through PyMC3, and ... I can't run the pre-release Theano-PyMC with this patch (can I)?

Could we talk about this off-line (on Slack)?  I was trying to test this in my old workflow (based only on `pip` and virtual environments), but I can no longer get this workflow to function and I'm not expert e

[2021-01-08 00:45] michaelosthege commented on #231
Sure. Let's also write down what we consider the recommended installation workflow. We need to update the PyMC3 readme accordingly.

[2021-01-09 18:57] #257 closed

[2021-01-10 19:57] michaelosthege commented on #231
@rpgoldman we have the new installation instructions now.
Assuming that it was fixed by your PR, I'm closing this to not clutter the issues, but if the problem persists please re-open!

[2021-01-10 21:38] michaelosthege opened #267 "Add C implementation for I1e, I0e and erfcx Ops"
These Ops are used in the core of PyMC3.
I do not know how big the impact would be, but C implementations would be great and probably not too difficult.

[2021-01-11 20:58] dfm commented on #267
For reference, in scipy the Bessel functions are implemented as wrappers of the implementation from the [cephes](http://www.netlib.org/cephes/) library, which is implemented in C, but doesn't have a clear license as far as I can tell. `erfcx` is a wrapper of the [Faddeeva](http://ab-initio.mit.edu/wiki/index.php/Faddeeva_Package) C++ library which is MIT licensed.

[2021-01-12 10:54] twiecki commented on #267
Great, we can just use those then.

[2021-01-14 02:39] brandonwillard opened #269 "SpecifyShape is a duplicate of assert_shape?"
It really looks like `theano.compile.ops.SpecifyShape` provides the same functionality as `theano.tensor.nnet.assert_shape`.

If so, we should remove one of them.

[2021-01-15 16:25] ricardoV94 opened #270 "tt.switch behaves surprisingly with homogenous non boolean input"
[code]
However it works fine with non-boolean inputs, as long as they are not all the same.
[code]
This was behind a subtle bug in the Bernoulli distribution of PyMC (https://github.com/pymc-devs/pymc3/issues/4389), which seems to have been there since pymc3's inception...

[2021-01-15 16:46] brandonwillard commented on #270
What's the corresponding behavior in NumPy?

[2021-01-15 17:12] ricardoV94 commented on #270
What would be the equivalent function to `tt.switch`?

[2021-01-15 17:18] brandonwillard commented on #270
`numpy.where`, I believe.

[2021-01-15 17:56] ricardoV94 commented on #270
Seems to work as expected.

[code]

[2021-01-15 18:14] ricardoV94 commented on #270
In case it was not clear. This is "surprising", because it works fine with non homogenous array input. I updated the first post to highlight this.

[2021-01-15 19:08] brandonwillard commented on #270
Yes, if the behavior doesn't match the corresponding NumPy function (if there is one), then it's definitely a bug.

[2021-01-16 03:39] #270 closed

[2021-01-16 10:52] LegrandNico commented on #229
Should we use type annotation or type hints here? The title refers to annotations but the text mention type hints.

I am asking because type hints would probably require to add several class imports, and probability some circular ones, for which fixes do exist but not for all Python versions (e.g https://docs.python.org/3.7/whatsnew/3.7.html#pep-563-postponed-evaluation-of-annotations).

For examp

[2021-01-16 13:01] michaelosthege commented on #229
Sorry, I was not aware of a difference between hint and annotations. I meant type annotations like `name : str`.

We should not introduce circular imports. If a type annotation is not possible because of import dependencies, then we'll have to skip it and resolve the import dependency first.

[2021-01-16 13:58] LegrandNico commented on #229
For the type hints/annotation distinction, I am referring to this [post](https://testdriven.io/blog/python-type-checking/#Type-Annotations-vs-Type-Hints) (I don't know if this is still up to date), but accordingly using `name: str` would rather be a type hint, as it can be checked for consistency using e.g. [mypy](https://mypy.readthedocs.io/en/stable/).

Also, I noted that when checking for type

[2021-01-16 16:36] brandonwillard commented on #229
Absolutely

[2021-01-16 20:03] majidaldo commented on #197
Why specifically Hypothesis when you can have parameterized data generators?

[2021-01-16 20:23] majidaldo commented on #72
Q: is it possible to keep treating these classes like data ('fix' the attribs?)? Over time, classes tend to acquire attribute-like methods.
Some of your 'pythological' work would also be interesting here.

[2021-01-16 20:27] majidaldo commented on #72
Thought: ImO, the core graph objects would have to be pretty abstract... no theano-specifics like is_somethingrelatedtoexecution().

[2021-01-16 20:45] majidaldo commented on #72
https://github.com/pymc-devs/Theano-PyMC/issues/37 is related right? attrs has built in mgt for __eq__.

[2021-01-16 20:51] majidaldo commented on #72
https://github.com/pymc-devs/Theano-PyMC/issues/37 is related right? attrs has some builtin control for  __eq__

[2021-01-16 23:47] brandonwillard commented on #72
Yes, it could be related, but it's likely that we'll need/want custom `__eq__`-based handling for these objects, because it's very easy to induce costly graph comparisons and `RecursionError`s with a standard `__eq__` implementation.

It looks like you might be referring to a requirement that we need to implement: i.e. immutability of the core graph classes.  That _is_ a motivating factor behind t

[2021-01-17 22:04] brandonwillard opened #273 "Use singledispatch instead of "register_*_c_code""
There are a few `register_*_c_code` functions in `theano.compile.ops` that would be better implemented using `functools.singledispatch`.  There are probably a few more of those in other modules, too.

[2021-01-18 03:27] brandonwillard opened #274 "Move tests.test_rop tests to their respective Ops"
The module `tests.test_rop` implements tests for a good number of `Op`s that implement the `Rop` interface.  Each `Op`-specific test should be located among all the other tests for its `Op`.

For example, the test `tests.test_rop.TestRopLop.test_subtensor` should be in `tests.tensor.test_subtensor`.

[2021-01-20 16:15] ricardoV94 commented on #183
Any further thoughts on what might be a good strategy here?
1. Write a more flexible version in the math module of pymc3
2. Rewrite the Theano implementation
3. Rewrite the Theano implementation + Other functions in that module which share the same axis 1 logic
4. Leave things as they are (including duplicated code in the pymc3 library)

.1. sounds like the most straightforward
.2. and 3. require

[2021-01-20 19:23] AlexAndorra commented on #183
Yeah I'd go with 2 or 3 -- @brandonwillard is pretty adamant that 1 is kicking the can down the road, and I agree. Plus, we should take the opportunity of this Theano reformatting to do that 🤷‍♂️

3 is more involved though, so, depending on the experience of the person making the PR, it could be good to start by 2, and then complete with the rest of the module (i.e 3) once the process is clear

[2021-01-21 02:36] brandonwillard opened #275 "Implement fast polynomial evaluation optimizations"
@aseyboldt noticed that we might be missing some (scalar) polynomial optimizations like [Horner's method](https://en.wikipedia.org/wiki/Horner%27s_method).

[2021-01-21 02:39] brandonwillard commented on #275
At the very least, we could create an `Op` for NumPy's [`polyval`](https://numpy.org/doc/stable/reference/generated/numpy.polynomial.polynomial.polyval.html) and follow that up with some rewrites for specific cases (e.g. if `x` is a graph input and has a polynomial form in a subgraph, consider replacing that subgraph with a `polyval` `Op`).

[2021-01-21 05:17] brandonwillard opened #276 "Simplify CAReduce"
The implementation of `CAReduce` and its subclasses (e.g. `Sum`, `Mean`, `Prod`, `Any`, `All`, etc.) is unnecessarily complex, and its python `Op.perform` actually `for`-loops through the reduction dimensions instead of using the corresponding NumPy functions (e.g. `np.sum`, `np.mean`, `np.prod`, etc.)

Worse yet, it uses hard-coded logic for specific `self.scalar_op`s (see [`CAReduce.set_ufunc`](

[2021-01-21 09:20] ricardoV94 commented on #231
I still have this issue on 1.11.0

[code]

[2021-01-21 09:47] michaelosthege commented on #231
Maybe no filter is registered for this one?

Implementing it as described in #267 would be even better.

[2021-01-21 09:53] CloudChaoszero commented on #235
Small update:
I will eventually get to this either this or next weekend haha
* (Recently completed a couple of PRs from repos pymc3 & pymc-example)

[2021-01-21 10:32] ricardoV94 commented on #231
Yeah having the C implementation would be great. But still won't we have this issue with every Op that is not implemented in C?

[2021-01-21 13:09] rpgoldman commented on #231
IIRC, the filter looks for the string “Optimization Warning” and the above doesn’t have it. Is there any chance you have an updated PyMC3, but not an updated theano-pymc?

[2021-01-21 13:25] ricardoV94 commented on #231
[code]

[2021-01-21 15:14] rpgoldman commented on #231
I checked, and the filter *is* in place, and it *does* look for the string `"Optimization Warning: "`

Looks like something went wrong with the update so that the warnings in `tensor/opt.py` don't have that prefix.

My working copy has that prefix in it -- not sure why those changes are not in #232

These are the two changes:

[code]

Maybe someone could fold these in?

[2021-01-21 16:58] michaelosthege commented on #231
If someone makes this fix before #268 goes 🏁, we can easily make a patch release for both Theano-PyMC and PyMC3.

[2021-01-21 17:02] rpgoldman commented on #231
@michaelosthege Do you want me to put these changes in place?  If so, I will make an MR.

[2021-01-21 17:04] michaelosthege commented on #231
Please, go ahead. I will review & check if I can find more occurrences to apply the same fix to.

[2021-01-21 23:28] rpgoldman commented on #231
@michaelosthege See #277 . Sorry it took me so long to get this done.

[2021-01-22 09:26] michaelosthege commented on #231
Merged. I'm closing this issue again..

[2021-01-22 09:26] #231 closed

[2021-01-26 21:34] canyon289 commented on #148
Im in favor of these bindings

[2021-01-27 04:10] brandonwillard opened #280 "Fix theano.graph.toolbox.ReplaceValidate error handling."
The `replace*` methods shouldn't catch all exceptions, and they definitely shouldn't attempt to run `fgraph.revert` without its own error handling. This logic makes it unnecessarily difficult to debug, it blurs the distinction between expected and unexpected exceptions, and it serves little-to-no useful purpose.

[2021-01-27 04:12] brandonwillard opened #281 "Clean up theano.sparse.__init__ imports"
We need to remove the `from theano.sparse.basic import *` in `theano.sparse.__init__`&mdash;or add an `__all__` to `theano.sparse.basic`.

[2021-01-27 04:34] brandonwillard opened #282 "Remove static `Op` list in `aesara.tensor.basic.Alloc.do_constant_folding`"
These `Op`s should instead register themselves to a no-`Alloc`-constant-folding collection/class (e.g. using [`ABC.register`](https://docs.python.org/3/library/abc.html#abc.ABCMeta.register)).  This would prevent the need to reference/import classes from other modules within a base module like `aesara.tensor.basic`.  It would also make the functionality generally extensible in the first place.

[2021-01-27 11:09] michaelosthege opened #283 "Remove documentation contents that are no longer relevant to the project"
The `/doc` folder contains material such as conference presentations (`cifarSC2011`, `nextml2015`, ...) and `proposals`.
They often include code snippets that became incompatible or have to be refactored.
Some proposals (`mongodb_cache`, ...) are no longer relevant to this project.

We should remove all of this content as it's still archived in https://github.com/Theano/Theano/tree/master/doc

[2021-01-27 13:37] Saurav-Sutaria commented on #283
I want to work on this issue, but don't know how to get started. Can you please guide me how to get started, as this is the first issue I am working for.

[2021-01-27 14:21] michaelosthege commented on #283
@Saurav-Sutaria how familiar are you with Theano-PyMC ?

[2021-01-27 14:28] Saurav-Sutaria commented on #283
not very much familiar with Theano-PyMC

[2021-01-27 20:25] #45 closed

[2021-01-27 20:25] #53 closed

[2021-01-27 20:26] brandonwillard commented on #120
These tests are now in `tests.tensor.test_basic`.

[2021-01-28 10:31] michaelosthege commented on #283
@Saurav-Sutaria if you have not worked with Theano and PyMC3 before, this is probably not the right project to start out with.

[2021-01-28 10:43] Saurav-Sutaria commented on #283
@michaelosthege Ok, no problem

[2021-01-29 05:56] #148 closed

[2021-01-29 05:56] #283 closed

[2021-01-30 11:10] twiecki opened #287 "Add graph optimizer that batches scalar computations"
if we have `vector_a + scalar_b + scalar_c` we have two vector additions. If we were to rewrite this to first sum all the scalars (`scalar_b + scalar_c + vector_a`) it would be twice as fast as we only do one vector addition.

It should be pretty easy to add a graph optimizer that reshuffles the terms so that scalars are grouped together.

Thanks @fehiepsi for pointing this out.

[2021-01-30 17:38] eigenfoo commented on #159
@brandonwillard I assume this issue is still open, but with the following two files? The original link is broken. If so, I can submit a PR for this.

[code]

[2021-01-30 18:15] brandonwillard commented on #159
Yes, `theano.tensor.opt` was split into `theano.tensor.math_opt` and `theano.tensor.basic_opt`, so those results were previously together in `theano.tensor.opt`.

[2021-01-31 09:41] zoj613 opened #289 "Request: Consider using a more compatible polya-gamma random sampler"
## Description of your feature request

This is a feature request following a comment by @brandonwillard in https://github.com/pymc-devs/symbolic-pymc/pull/107 .

Looking at the source code, it appears that for random sampling, aesara uses a polya-gamma distribution random sampler whose API isn't quite compatible to scipy's.
https://github.com/pymc-devs/aesara/blob/6c5a8fa044aae27a7ce2b6f90ef49f11

[2021-02-01 10:31] ricardoV94 opened #291 "ERROR (theano.graph.opt): Optimization failure due to: local_grad_log_erfc_neg"
From the PyMC discourse: https://discourse.pymc.io/t/theano-warnings-when-fitting-a-simple-psychometric-function-cumulative-normal-distribution/6650

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**Please provide the full traceback of any errors.**
[code]
According to the user it still samples correctly.

Also, the equivalent `pm.distributions.dist_math.std_cdf` o

[2021-02-02 20:49] tmcclintock commented on #287
I would be interested in contributing to this issue. Are you accepting PRs?

[2021-02-03 01:49] brandonwillard commented on #287
Yes, we are.

A note about this proposed optimization: there are already some optimizations that address similar situations, so we need to be very clear about the what and when of this new optimization.

For example, there's a "fusion" optimization that essentially creates a new scalar ufunc (in the NumPy sense) and broadcasts that across its arguments.  When the arguments are combinations of vect

[2021-02-03 16:10] kc611 commented on #146
We can use `jax.random` as the jax counterpart for `numpy.random.RandomState` but it seems kindof limited (Distributions like `Binomial`,`HalfNormal` are not present). I think most of the work here would be getting the shapes and arguments right.

[2021-02-03 21:31] twiecki commented on #146
@kc611 Would be great to get some help here, it's yours!

[2021-02-04 10:50] kc611 commented on #146
I tried a simple straightforward implementation (without shape handling, to see the arguments and their datatypes) as follows:

[code]
And upon running the following code:

[code]

It throws the following exception:

[code]
It seems that `jax` is not accepting `rng` (of type `RandomState`) as an input argument. Is there any way around this ? Should `rng` be made a class data member in `RandomVaria

[2021-02-04 18:28] kc611 commented on #146
Tagging @brandonwillard , since he'll be the person with most insight on this.

[2021-02-04 18:49] brandonwillard commented on #146
I'll need to see the full trace to make sense of it.

[2021-02-04 19:01] kc611 commented on #146
Here goes :
[code]

[2021-02-04 19:38] brandonwillard commented on #146
OK, I think this particular case may require special handling for a new data type (i.e. `RandomState`s).

This sort of change/addition might start somewhere in the [input-conversion conditions within `aesara.link.jax.jax_dispatch.compose_jax_funcs`](https://github.com/pymc-devs/aesara/blob/36161c3c0da25adef72b6abe00f5ffd37dfe7ade/aesara/link/jax/jax_dispatch.py#L119).  That loop is basically where

[2021-02-05 04:41] kc611 commented on #146
Thanks for the deep dive. I got the gist of it. The conversion can be done as follows :

Numpy's `RandomState` allows for `2^(32*623) - 1`  number of possible states. This can be accessed by [get_state()](https://numpy.org/doc/stable/reference/random/generated/numpy.random.get_state.html) as an array with 623 elements of 32 bit unsigned integers. Meanwhile Jax uses [PRNGs](https://jax.readthedocs.

[2021-02-05 18:07] kc611 commented on #146
@brandonwillard  I suspect that there is also a similar as-is passing being done somewhere else too. I implemented a primitive generic dispatch functionality at the code that you pointed out in `compose_jax_functions()` as follows:

[code]

where the function representations are as follows :

[code]

This still throws the same exception. It seems that the exception is thrown before the these compo

[2021-02-05 22:22] brandonwillard commented on #146
Looks like you have the right idea, but I'll probably need to walk through an explicit implementation in order to help further.

At this point, you should put in a (draft) PR.  We can discuss these details there.

[2021-02-05 22:50] brandonwillard commented on #291
To debug this, set `theano.config.on_opt_error = "raise"`.  That will prevent the exception from being caught and allow you to interactively debug.  Within the debugger, print the graph input to the function where the error occurs (i.e. `theano.tensor.opt.local_grad_log_erfc_neg`) using `theano.printing.debugprint`.

Those results provide us with the Theano/Aesara-only information that we need.

[2021-02-06 00:29] brandonwillard opened #293 "Make test_local_useless_elemwise_comparison a real test"
Currently, `tests.tensor.test_math_opt.TestLocalUselessElemwiseComparison.test_local_useless_elemwise_comparison` does not `assert` anything and does not describe what it's testing.  We should either attempt to determine what it's supposed to be testing or remove it completely.

[2021-02-06 00:52] brandonwillard opened #295 "Rewrite or "optimizations" like disable local_grad_log_erfc_neg"
While working on #294, I noticed that `local_grad_log_erfc_neg` was dangerously buggy and contained a surprising amount of convoluted matching logic.

For instance, while looking for graphs like `C1 * exp(x * C2) / erfc(x)` it would mistakenly perform the replacement for graphs like `exp(y) / erfc(x)`, where `y` is not `x`.

These kinds of extreme errors are not surprising to find in hand-built pa

[2021-02-06 01:44] #291 closed

[2021-02-08 21:32] #224 closed

[2021-02-12 13:45] ricardoV94 commented on #275
@brandonwillard is this still up to grabs? I might explore this issue to get a better understanding of Aesara Ops and graph rewrites.

Wrapping a polyval Op around Numpy version should be straightforward.
I have to think a bit about the grad method, but shouldn't be too complicated since we are working with polynomials.

I would definitely need some pointers for the pattern matching / rewriting pa

[2021-02-12 22:46] brandonwillard commented on #275
As long as no one is assigned, it should be; however, this particular addition requires some high-level considerations/research first.

For instance, it might be better to add support for generic polynomials backed by `numpy.polynomial.Polynomial`.  From a symbolic perspective, this bring us closer to the work surrounding formal power series.

Since we don't want to add more NumPy `Op`s for no rea

[2021-02-13 02:35] brandonwillard opened #299 "Remove Op copy from CAReduce and CAReduceDtype"
`CAReduce` and `CAReduceDtype` create a temporary `Op` and it seem completely unnecessary.  It also complicates things down the road, because `op(input).owner.op is not op`, which is very unexpected&mdash;especially since other `Op`s don't behave this way.

The main idea seems to be that `op.axis` isn't sufficient when `a < 0` above, so, in order to affect a change in `op.axis`, an entirely new `O

[2021-02-13 06:34] ricardoV94 commented on #275
There are also the cases where some of the scalars may be zero / missing which makes identification perhaps more difficult, but the number of user cases more frequent.

In terms of general use, I would think polynomial regression (up to 2, 3 degrees) is not that uncommon.

As per your advice I will first see if I can come up with a parsimonious set of matching rules.

[2021-02-13 12:24] #229 closed

[2021-02-14 11:07] ricardoV94 commented on #275
Here is what I come up with. I am not sure how feasible this is in aesara:

Three broad rules:
1. `scalar * x**n = Polyval(x, [0]*n + [scalar])` - This creates the base polyval Ops, which are useless by default.
2. `Polyval(x, c1) + Polyval(x, c2) = Polyval(x, c1 + c2)`
2.1. Special case: `scalar + Polyval(x, c) = Polyval(x, [c[0] + scalar, c[1], ..., c[n]])`
2.2. Special case: `x + Polyval(x, c)

[2021-02-15 03:35] CloudChaoszero commented on #235
Hello @michaelosthege, i'm going to start on this soon through #304.

Double checking, Is this the ideal scenario you wanted to update in the codebase?

[2021-02-17 13:19] twiecki commented on #287
@tmcclintock Any progress or questions?

[2021-02-17 14:48] tmcclintock commented on #287
@twiecki @brandonwillard sadly no progress. Other obligations have eaten up my time, so it may be O(month) before I get back to this. Feel free to tackle this, and I can find another issue when I have more time.

[2021-02-18 18:49] #276 closed

[2021-02-19 00:31] brandonwillard commented on #275
Yes, the polynomial algebra should be implemented&mdash;at least like it is in NumPy&mdash;and that could take care of a lot.  The difficulties start to appear when it's not entirely clear that a polynomial should be created in `x` instead of, say, another non`Constant` vector `y`.

Also, I came across [this related article recently](https://www.texmacs.org/joris/stablemult/stablemult.html).

[2021-02-22 19:13] hs2361 commented on #269
@brandonwillard Are you referring to `aesara.tensor.shape.SpecifyShape` and `aesara.tensor.nnet.abstract_conv.assert_shape` ?

[2021-02-22 19:23] brandonwillard commented on #269
That sounds correct, since some modules and sub-packages were refactored since this issue was created.

[2021-02-23 11:39] hs2361 commented on #269
I went through the code in `aesara.tensor.shape.SpecifyShape.infer_shape`, however I don't see how it can be a replacement for what `aesara.tensor.nnet.abstract_conv.assert_shape` does. The latter wraps `x` into an `Assert`, however, the former simply raises an `AssertionError`, only if the shapes don't match. Could you clarify a little @brandonwillard ?

[2021-02-24 00:41] brandonwillard commented on #269
Yes, the `Assert`s created by `assert_shape` will simply raise `AssertionError`s if the actual shape and the expected shape don't match (at `Op.perform`/run/evaluation-time), and although `SpecifyShape` will also do the same&mdash;albeit not by way of `Assert`&mdash;it has the added advantage of providing shape information via its `SpecifyShape.infer_shape`.

In other words, `SpecifyShape` does wh

[2021-02-24 13:46] hs2361 commented on #269
Alright then, I'll work on removing `assert_shape`. I don't think it is being used anywhere other than in a test, `tests.tensor.nnet.test_abstract_conv`, so it wouldn't need to be removed from anywhere else, other than from that test.

[2021-02-25 18:19] brandonwillard opened #306 "Consider Cythonizing the Function evaluation code"
We might be able to speed up Aesara's compiled function evaluations by Cythonizing classes like [`Function`](https://github.com/pymc-devs/aesara/blob/84936418af87e84322bd668c7e05e62766699906/aesara/compile/function/types.py#L236)&mdash;or at least the methods within it and/or the functions it calls.

Every time an `aesara.function`-compiled graph is evaluated `Function.__call__` is called, so, if

[2021-02-27 17:58] hs2361 commented on #269
@brandonwillard I've opened a draft PR (#308). In the PR, I've replaced the functionality of the assert_shape function with an AssertionError containing the appropriate message. However, I'm not exactly sure if this is what you meant. Secondly, the tests in `tests/tensor/nnet/test_abstract_conv.py` will fail, because I am raising AssertionErrors, and the tests don't expect these errors (earlier, t

[2021-03-01 08:09] Spaak opened #309 "TypeError in pydotprint"
As part of the larger effort of moving over PyMC3's graph printing (and string representations) to v4 (see https://github.com/pymc-devs/pymc3/issues/4494), I encountered the following issue:

[code]

when executing the following:

[code]

In case it's relevant:

[code]

Aesara is at current `master` (5795760d3d9f160fca3d20b266a224e87d86a6b4), PyMC3 is at current `v4` (main repository, pymc-devs/py

[2021-03-01 08:17] Spaak commented on #309
This is not related to anything PyMC3-specific, as I get the same error with the following:

[code]

[2021-03-01 23:29] #309 closed

[2021-03-02 01:00] brandonwillard opened #312 "Replace C-code generation and compilation backend"
The text-based C-code generation and compilation backend in Aesara is difficult to use, debug, maintain, and extend.  We need to fix that ASAP.

[Cython](https://cython.org/) is a well established Python-to-C transpiler that provides a much cleaner, automatic means of generating the same kind of Python C API code that's written by hand in Aesara.  Here are some possible benefits to replacing our c

[2021-03-02 07:49] twiecki commented on #312
Totally agree. I suppose we first need some functionality to enable usage of Cython.

[2021-03-02 09:33] ricardoV94 commented on #267
I tried to make aesara use the Faddeeva erfcx without success.

[code]
But it doesn't seem to get to the headers
[code]

Any tips on what I am doing wrong?

[2021-03-02 14:31] michaelosthege commented on #267
@ricardoV94 just checking: you _are_ inheriting from `COp`?
Your observation of not seeing the `print` in `c_header_dirs` is odd. Can you try to raise an exception instead of the print - just to see if it gets called?

[2021-03-02 14:47] ricardoV94 commented on #267
Yes it inherits from COp via `UnaryScalarOp` > `ScalarOp`

[code]

By the way, in case it was unclear I am adding the blob above in here: https://github.com/pymc-devs/aesara/blob/02a0c59d5053dddef84102ffaff3f31ef4a2cfd2/aesara/scalar/basic_scipy.py#L114

Replacing the print by a `raise SystemError` still does not trigger it.

[2021-03-02 14:49] ricardoV94 commented on #267
Could it be somehow related to this Note?

https://github.com/pymc-devs/aesara/blob/02a0c59d5053dddef84102ffaff3f31ef4a2cfd2/aesara/scalar/basic_scipy.py#L122-L127

[2021-03-02 19:11] michaelosthege commented on #267
That sounds like _something_ you changed has an effect. Wouldn't a replacement of the Op with something else result in absolute no change in behavior?

The error above looks for a `.hh` file. From your code block it looks like you added a `.cc` file, but did you add a `.hh` too? Or should it be generated somehow?
It would probably help to open a draft PR.

[2021-03-02 19:26] ricardoV94 commented on #267
The Faddeeva.hh is a header file that is used by Faddeeva.cc. I put both in the c_code folder. Aesara is accessing the contents of Faddeeva.cc correctly but when compiling the c file it tries to find Faddeeva.hh and the information of where this file is, is not being given to the compiler by Aesara. I assumed that was the point of the `c_headers_dir`.

Yes, opening a draft PR may be less confusing

[2021-03-02 22:18] brandonwillard commented on #312
It's not actually that difficult to _use_ Cython-generated code in Aesara right now.  For instance, an `Op` can create its own thunk&mdash;via `Op.make_thunk`&mdash;that calls out to a Cython-generated extension.  This is what [the `Scan` `Op` does](https://github.com/pymc-devs/aesara/blob/16f98e4fd69db92e0c2cde9dd97a0d005235deea/aesara/scan/op.py#L993).  This is the approach used by the old examp

[2021-03-03 03:44] sokol11 opened #313 "JAX conversion of aet.diag(...) does not work while aet.nlinalg.diag(...) works"
I get the `AttributeError: 'Second' object has no attribute 'nfunc_spec'` error when trying to sample my Gaussian Random Walk model with `pm.sampling_jax.sample_numpyro_nuts`. I know that this is an experimental library, so it is probably expected behavior at this point. But if you have some insight into what is going on, please share. Thank you.

[2021-03-03 09:15] twiecki commented on #313
@sokol11 Thanks, these reports are very valuable. Can you post the code that triggers this? I have run a model with a GRW successfully in the past (the stoch vol model). Also, are you on master?

[2021-03-03 09:18] twiecki opened #314 "Add JAX Op for wrapping user-defined JAX functions"
@dfm has built this cool wrapper that allows JAX functions to be turned into Aesara Ops easily:
https://gist.github.com/dfm/a2db466f46ab931947882b08b2f21558

This would be a great feature to include as PyMC3 users could add arbitrary deterministics coded in JAX to their PyMC3 model.

Proposing to add this to the library.

[2021-03-03 10:34] dfm commented on #314
It might be better to just add something like this to the docs rather than trying to support a feature since I expect it would be hard to do shape and dtype inference in a general non-kludgey way. Also: it would probably be good to add a grad method using the vjp, but I didn't work that through yet.

[2021-03-03 14:01] twiecki opened #315 "Profiler does not support JAX mode"
[code]

Output:
[code]

[2021-03-03 15:10] sokol11 commented on #313
Here's the code:

[code]

It throws the same error with a multivariate GRW (which is what I really want to run):

[code]

I installed pymc3jax and Theano-PyMC as:

pip install git+https://github.com/pymc-devs/Theano-PyMC.git
pip install git+https://github.com/pymc-devs/pymc3.git@pymc3jax

I also tested the sampler on a simple non-GRW model to ensure that my install works.

Thank you!

[2021-03-03 15:42] twiecki commented on #313
Ah, you shouldn't use the pymc3jax branch anymore but just master. I should just delete that branch. Where did you get the info to use that branch?

[2021-03-03 16:34] sokol11 commented on #313
Ah, silly me. You mean I should just install the latest PyMC3 version `pip install pymc3` and go with that? I think it says to go with pymc3jax in https://docs.pymc.io/notebooks/GLM-hierarchical-jax.html

[2021-03-03 16:42] sokol11 commented on #313
Ok, I just tried it with a regular PyMC3 install and it works with a single time series GRW model. And it is BLAZING fast!!

Though it does throw this error for the multivariate GRW model: `NotImplementedError: No JAX conversion for the given `Op`: AllocDiag{offset=0, axis1=0, axis2=1}`

Here's the model code:

[code]

Any thoughts? Thank you! This is pretty amazing.

[2021-03-03 20:54] twiecki commented on #313
@sokol11 Good to hear it's fast. Odd, `AllocDiag` is implemented: https://github.com/pymc-devs/aesara/blob/c058326d7e7cfa0087c033ada62beb5ea8104258/aesara/link/jax/jax_dispatch.py#L838

Can you check whether that function exists? Otherwise you might want to update to Aesara and PyMC3 master.

[2021-03-03 21:19] sokol11 commented on #313
Yes, I did not have aesara installed. I tried installing it but it still showed the same error, then I ran:

[code]

Followed by

[code]

It still throws the same error, any ideas what else I can try? Thank you.

[2021-03-04 01:16] brandonwillard commented on #315
What's the exact bug here?

[2021-03-04 01:47] brandonwillard commented on #314
I'm not aware of any JAX issues involving PyMC3 `Deterministic`s.  As far as I can tell, they should've always been supported via the standard Aesara-to-JAX conversion process.

Also, that example in the Gist isn't a single function that converts JAX functions to `Op`s, so it can't really serve as a new utility function of any sort.

More importantly, this isn't the kind of approach to `Op` creati

[2021-03-04 02:17] brandonwillard commented on #314
FYI: this is also the exact same approach described [here](https://github.com/pymc-devs/pymc3/issues/4142#issuecomment-703293904), where it was given as a means of using shared variables with the NumPyro JAX sampler code.

[I followed up somewhat recently](https://github.com/pymc-devs/pymc3/issues/4142#issuecomment-786976626) to clarify that the `Op.perform` part of this approach is unimportant/un

[2021-03-04 03:07] sokol11 commented on #313
Minor update. I think I did not have gcc installed correctly. I actually ended up finally ditching openSUSE and switching to Ubuntu in my attempt to fix the issue. The good news is that the conventional sampler now works about 2x faster. But trying to sample with jax still throws the same error, unfortunately.

[2021-03-04 05:21] sokol11 commented on #313
UPDATE

I believe it was a namespace issue between theano-PyMC and aesara.

First, I realized I had both theano-PyMC and aesara installed. So, I uninstalled everything and installed PyMC from development master, like so `pip install git+https://github.com/pymc-devs/pymc3`.

After installing from development master, I imported `aesara.tensor as aet` and changed `tt.diag(...)` in my model to `aet.di

[2021-03-04 07:36] twiecki commented on #313
That is quite odd, you got the same no JAX Op error?

[2021-03-04 07:38] twiecki commented on #315
That there is no output of the profiler, usually there is a report that displays how long every Op took to compute.

[2021-03-04 08:29] twiecki commented on #314
@brandonwillard I agree that we need something like this so that JAX code can interact with Theano `Op`s. What do you mean however, special attention? I.e. what would need to be added here to make it better?

Also as for grads: shouldn't these come automatically from the JAX autodiff? I don't think we need our own grads for JAX anyway so this should already work for this Op.

[2021-03-04 08:29] brandonwillard commented on #315
Ah, I'll take a look.

[2021-03-04 08:31] twiecki commented on #315
The full report is displayed if I don't run this in JAX mode.

[2021-03-04 11:40] jsmolic opened #318 "Porting sympy code to theano-pymc"
Hi,
I'm trying to port sympy theano code [[1]](https://github.com/sympy/sympy/blob/master/sympy/printing/theanocode.py), [[2]](https://github.com/sympy/sympy/blob/master/sympy/printing/tests/test_theanocode.py) to work with theano-pymc, as it's currently supporting only older theano. Initially I ran into the following test failures

[code]

I've menaged to patch most of the failures with:
[code]
B

[2021-03-04 13:30] sokol11 commented on #313
Yep, when I switched to aet.nlinalg.diag, it just compiled and ran (no errors). When I looked at the aesara source code, I saw that the AllocDiag class and diag function are in the nlinalg submodule, so I figured to try it.

[2021-03-04 20:57] brandonwillard commented on #318
The project has been renamed to Aesara, so targeting that package name will be better moving forward; otherwise, some of those `[theano|aesara].graph.basic` graph functions are generators now (e.g. `graph_inputs`), so you might need to wrap those calls in a `list` when they're used in more than one place.

[2021-03-04 22:55] brandonwillard commented on #318
@jsmolic, do you have a PR open for this in the SymPy repo?

[2021-03-04 23:17] brandonwillard commented on #313
Here's a MWE:

[code]

The issue is due to the fact that we have two `AllocDiag`s: the one in `aesara.tensor.nlinalg` was deprecated and needs to be removed.

[2021-03-05 00:31] #313 closed

[2021-03-05 16:07] jsmolic commented on #318
@brandonwillard Yeah, I agree that it would be better to target aesara support so we avoid re-doing it again in the future. I've just opened a PR in the Sympy repo, I'll try to finish it over the next week or so.

[2021-03-06 00:52] SyedMuhammadAli opened #320 "Aesara import with GPU fails"
## Aesara doesn't seem work with old GPU (Nvidia 630M - CUDA compatibility 2.1). The package "pygpu" could not be loaded, but the installation via pip completed without errors. Error trace below:

### When using "device = gpu" in .aesarac.txt
[code]

### When using "device = cuda*" in .aesarac.txt
[code]

## Versions and main components

* Aesara version: 2.02
* Aesara config (`python -c "import a

[2021-03-06 21:22] brandonwillard commented on #320
We aren't actively maintaining the GPU code in this fork at the moment, because we don't have easy access to GPUs in CI (see #47).  If anything, the `gpuarray` sub-package may be removed entirely in the near future.

Currently, the best approach to running Aesara code on a GPU is via the new JAX backend (i.e. `mode="JAX"`).

[2021-03-06 21:22] #320 closed

[2021-03-07 01:06] brandonwillard commented on #314
I'm saying that we might need to occasionally use this approach as a one-off to include arbitrary JAX expressions into JAX-ified Aesara graphs, but, outside of that context, we really shouldn't create `Op`s for JAX functions.

[2021-03-07 18:20] twiecki commented on #314
I think this would be a super nice feature for users who have custom JAX code and want to use it with their pymc3 model. The same for custom distributions. Seems like this Op would make that pretty straight forward.

[2021-03-07 22:36] twiecki opened #322 "No JAX conversion for the given `Op`: DotModulo"
Trying to run ADVI in JAX mode.

Reproducing example:
[code]

Error:
[code]

[2021-03-07 22:37] twiecki opened #323 "Flood of filelock warnings"
Running a normal PyMC3 model and getting a ton of:

[code]

Already ran `aesara-cache clear` which didn't help.

[2021-03-07 23:47] brandonwillard commented on #323
I don't think those are warnings, just overly verbose logging.

[2021-03-08 01:38] brandonwillard commented on #323
Yes, those are log messages [emitted by `filelock`](https://github.com/benediktschmitt/py-filelock/blob/b30bdc4fb998f5f4350257235eb51147f9e81862/filelock.py#L274).

[2021-03-08 01:46] brandonwillard commented on #322
This is an `Op` that's only used in `aesara.sandbox.rng_mrg`, so creating a conversion for that `Op` is only the beginning; we would need to implement all the `Op`s used by the hand-written MRG sampler as well.

[2021-03-08 01:57] brandonwillard opened #324 "Replace handwritten MRG sampler"
The handwritten MRG sampler in `aesara.sandbox.rng_mrg` seems unnecessary.  It also doesn't use the `aesara.tensor.random` API, which causes it to require special attention in order to stay compatible, well tested, etc.

If we want to improve sampling performance, we should at least provide `RandomVariable`s with C implementations via the [NumPy C API](https://numpy.org/devdocs/reference/random/c-

[2021-03-08 08:09] twiecki commented on #322
Is that a challenge with our current JAX conversion functionality?

[2021-03-08 09:38] michaelosthege opened #325 "Stop using deprecated numpy aliases of builtin types"
## Description of your problem or feature request

NumPy `v1.20` deprecated types like `np.bool`, `np.int` that are just aliases of builtins.
See https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In the `Cast` `Op` we're running into this deprecation warning: https://github.com/pymc-devs/aesara/blob/65c410b08f971313df24312a52dfce31d20ece72/aesara/scalar/basic.py#L2416

[code]

We'l

[2021-03-08 13:00] #289 closed

[2021-03-08 14:09] ricardoV94 commented on #267
Are we sure we can go ahead with the Cephes library (copyright wise?).

I found this thread: https://lists.debian.org/debian-legal/2004/12/msg00295.html
Similarly in the Torch library: https://github.com/deepmind/torch-cephes/blob/master/LICENSE.txt

[2021-03-09 00:47] dgerlanc opened #326 "How should the Intel MKL flags be specified?"
The purpose of this issue is to discuss how `aesara` links against the
Intel MKL library. For simplicity, this issue assumes a 64-bit Linux environment
and `conda`-based installs of MKL using this `environment.yml` file:

[code]

All MKL libraries are dynamically linked to by `aesara`.

Before discussing how `aesara` configures the MKL link line, we will briefly
review the linking options provided

[2021-03-09 09:08] twiecki commented on #326
Thanks for the thoughtful explanation @dgerlanc. Just to make sure I understand: there currently isn't a problem with how we link to MKL but it seems there are some redundancies that could be simplified?

[2021-03-09 09:15] twiecki opened #327 "Attempt to run Python Ops with numba"
After an interesting discussion with @brandonwillard he mentioned how our Python implementations of `Op`s that happen in the `.perform()` method could be attempted to be run with `numba.jit` as a way to auto-compile for added speed. If this compilation fails, we can always fall back to the regular Python implementation. This would probably be done in the `make_thunk` code.

Even better would be if

[2021-03-09 10:35] aseyboldt commented on #327
Turns out the parallel code also works in a cfunc (I said it might not previously)
[code]

[2021-03-09 11:09] kc611 commented on #324
Is there a reason for which this MRG sampler is preferred as default instead of using `numpy.random.RandomState`  and it's methods ?

( as seen in the issue here #322 )

[2021-03-09 12:26] twiecki commented on #327
Very cool!

[2021-03-09 16:18] brandonwillard commented on #312
For anyone who wants to try this (@aseyboldt?), take a look at [how `COp` creates C thunks](https://github.com/pymc-devs/aesara/blob/erfcx_c/aesara/graph/op.py#L552).  I think the relevant parts start [here](https://github.com/pymc-devs/aesara/blob/erfcx_c/aesara/graph/op.py#L597) (i.e. `CLinker.make_thunk`), so we might need to jump into whatever happens there.

[2021-03-09 16:32] brandonwillard commented on #312
Actually, it looks like it might be as simple as [creating an `aesara.link.c.basic._CThunk`](https://github.com/pymc-devs/aesara/blob/master/aesara/link/c/basic.py#L1207) object.  In order to do that, we need all of its arguments.

The [`self.__compile__(...)`](https://github.com/pymc-devs/aesara/blob/master/aesara/link/c/basic.py#L1203) step before that is how we get those arguments.  The `cthunk

[2021-03-09 16:50] brandonwillard commented on #327
I'm getting the following error for that example:
[code]

[2021-03-09 17:19] axiezai commented on #127
Hi just wondering if there is any updates on this?

I am running the following code:

[code]
And still receiving the same error:
[code]

My settings on MacOS Catalina:
[code]

My end goal is to use `theano` or `aesara`'s `rfft`, but obviously that function compile is failing with the same issue. Please let me know if there's any progress or if i can provide more info. Thanks in advance.

[2021-03-09 17:29] axiezai commented on #127
BTW, same issue when trying with `aesara` instead of `theano` function

[2021-03-09 18:11] brandonwillard commented on #127
All examples and discussions should be strictly in terms of the codebase _after_ the `theano` -> `aesara` change&mdash;especially since there have been changes to the config settings since then (e.g. the `gcc.cxxflags` option has been renamed).

[2021-03-09 19:26] aseyboldt commented on #327
I forgot an import of numpy (fixed above).
Not the best error message... :-)

[2021-03-09 21:09] axiezai commented on #127
Then is there another flag I can try to solve this issue on MacOS? Like I mentioned, setting `theano.config.gcc.cxxflags = "-Wno-c++11-narrowing"` didn't solve the error for me, is there a new config I can try in `aesara`?

[2021-03-09 21:48] dgerlanc commented on #326
Also, I think there's no way to not install MKL when using the `conda` install of `aesara`, even if you specify `nomkl` as a `conda` dependency. I will create an example.

[2021-03-09 22:28] brandonwillard commented on #127
Oh, no, I wasn't recommending anything else to try; I was only pointing out how these `theano`-based examples are now outdated, so anyone attempting to reproduce a bug/fix will run into problems.

More specifically, `theano.config.gcc.cxxflags` is now `aesara.config.gcc__cxxflags`, so a simple `theano` -> `aesara` replacement won't work in that case.

[2021-03-09 23:45] brandonwillard commented on #324
I'm guessing that there are/were some relative performance advantages to using this MRG sampler, but I don't know if that's really/still true.  Plus, I would be rather surprised to find that this MRG implementation could notably outperform NumPy's (old and/or new) especially when the latter is accessed via its C API.

Otherwise, there are some comments implying that this implementation may be GPU

[2021-03-10 00:33] brandonwillard commented on #322
No, the problem is that the hand-written MRG sampler uses its own "framework", so we would need to do something similar to #296 just for this one-off sampler.

[2021-03-10 02:55] weidongzhou1994 opened #337 "Import UnicodeDecodeError on windows"
when I want to import pyms3, it encounters a problem：UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbb in position 0: invalid start byte

![image](https://user-images.githubusercontent.com/40510496/110569169-1ce4df80-818f-11eb-89c1-2382812bb21a.png)

[2021-03-10 05:27] kc611 commented on #324
Alright so here, can we can turn `mrg_rng` into a wrapper class around `numpy.random.Randomstate` with it's own state stored inside the class ? We can then simply turn the c-code functions into ones accessing `numpy.random.Randomstate` via the C API.

The only downside of this I can think of is it's JAX conversion ( `jax.random` basically ) does not support most of the distributions currently defi

[2021-03-10 06:25] twiecki commented on #322
Can we change the PyMC3 implementation to use what's implemented in #296.

[2021-03-10 06:34] brandonwillard commented on #322
Yes, I believe so.

[2021-03-10 06:40] twiecki commented on #326
Here's where it happens I think: https://github.com/pymc-devs/aesara/blob/6c5a8fa044aae27a7ce2b6f90ef49f119bf5bdcd/aesara/link/c/cmodule.py#L2727

[2021-03-10 10:59] twiecki opened #328 "Change import aesara.tensor as aet to at"
We decided on `import aesara.tensor as aet` but I think it should be `import aesara.tensor as at`. The reason is that the extra character isn't fun to look at for longer math expressions:
`aet.exp(aet.pow(aet.dot()))`
`at.exp(at.pow(at.dot()))`

With that it would also match `np`, `sp`, and the old `tt`.

[2021-03-10 16:38] axiezai commented on #127
Thank you for clarifying, i will retry running the example on a ubuntu machine instead for now.

[2021-03-10 21:02] brandonwillard opened #329 "Can we use ccache"
Could we detect and use [`ccache`](https://github.com/ccache/ccache) to speed up C compilation?  There's a [conda-forge distribution of `ccache`](https://anaconda.org/conda-forge/ccache), as well, so we could make use of it quite often.

[2021-03-10 22:00] JamesPHoughton opened #330 "Conda can't find Aesara"
As per: https://aesara.readthedocs.io/en/latest/install_ubuntu.html#with-conda I'm trying to install Aesara:
[code]
And I receive the message:
[code]

Possibly an issue with the name change?

[2021-03-10 22:08] OriolAbril commented on #330
aesara is available through the `conda-forge` channel: https://anaconda.org/conda-forge/aesara. It is not yet in the main conda channel, also, even if it were, I would recommend using conda forge instead of the main channel for aesara, pymc and other pydata packages

[2021-03-10 23:54] brandonwillard commented on #127
Unfortunately, I can't even try to reproduce that error locally, since I don't have a Mac.  If it's possible to reproduce it in a virtual machine, I can take a look.

[2021-03-11 16:11] JamesPHoughton commented on #330
Thanks! That works.

[2021-03-11 16:11] #330 closed

[2021-03-11 16:36] brandonwillard commented on #328
I agree.

[2021-03-11 16:44] JamesPHoughton opened #331 "JAX can't find GPU"
## Description of your problem or feature request
Trying to run with a GPU on google colab, abandoned the approach described in [the docs](https://aesara.readthedocs.io/en/latest/tutorial/using_gpu.html) after seeing [this issue](
https://github.com/pymc-devs/aesara/issues/320) and switched to JAX.

However, running the [test script](https://aesara.readthedocs.io/en/latest/tutorial/using_gpu.html#

[2021-03-11 17:06] brandonwillard commented on #331
I don't see an error, just a JAX-specific warning about the GPU/TPU.  I recommend searching for solutions to that warning in [the JAX project's issues](https://github.com/google/jax/issues).  If those solutions are hindered by Aesara in any way, please create another issue with a minimal working example.

Otherwise, we can't really provide support for JAX itself; only things that relate to Aesara'

[2021-03-11 17:06] #331 closed

[2021-03-11 17:10] brandonwillard opened #332 "Add deprecation warnings to gpuarray-related docs"
We need to update the documentation to include a warning that says we're not actively maintaining the `gpuarray`-related code.

For that matter, we might need to do the same for the entire `gpuarray` sub-package.

[2021-03-11 17:11] JamesPHoughton commented on #331
Thanks - one thing I was worried about was that I was asking Aesara to use JAX in the wrong way. From your comment, it sounds as if I'm doing things correctly vis-à-vis Aesera? That's helpful. I know the move to JAX is pretty recent, but it's been a bit hard to get started with, considering the directions the existing documentation sends one down. ;)

[2021-03-11 17:25] brandonwillard commented on #230
We have this as an RST doc (via #253), but I don't think it's accessible via https://aesara.readthedocs.io/, so we might need to change that.

[2021-03-11 17:28] brandonwillard opened #333 "Add a "Using the JAX backend" primer to the documentation"
We need a quick description for how to use JAX in the documentation.  The ["Using the GPU"](https://aesara.readthedocs.io/en/latest/tutorial/using_gpu.html) section is a good place to put it.

Also, this could coincide with #332.

[2021-03-11 17:30] brandonwillard commented on #331
Yeah, I don't see anything wrong with what you said you ran.  I get that warning all the time, because I don't have a GPU/TPU available on my local machine, so I know that's not necessarily a problem.

I just created #332 so that we can clarify some things related to GPU support, but that doesn't entirely address this situation, so I also made #333.

[2021-03-11 18:12] ricardoV94 commented on #328
+ 1

[2021-03-11 20:42] dfm commented on #127
I just checked and I can also no longer reproduce this on my Mac with Python 3.9.1 (from conda) and the master branch of Aesara.

[2021-03-11 20:58] axiezai commented on #127
Oh, that's hopeful news, I will upgrade my python and aesara versions. Thank you!

[2021-03-12 02:14] brandonwillard commented on #324
It's starting to look like we should abandon our current `RandomState`/`RandomStateType`-centric approach in the first place.

I don't see why we couldn't use an array-based state&mdash;like this MRG sampler and JAX&mdash;and perhaps support `RandomState` by converting _it_ to the array-form upfront, instead of the other way around, as we're currently doing.  This approach has the added benefit of

[2021-03-12 09:40] #146 closed

[2021-03-12 19:07] brandonwillard commented on #134
@LegrandNico, since you're becoming Aesara's type expert, I would like to introduce you to this potentially revolutionary refactoring topic...

[2021-03-13 19:13] brandonwillard opened #335 "C Elemwise implementation doesn't broadcast variables"
I'm seeing a very weird error in `Elemwise`:

First, here's a basic broadcasting operations in NumPy:

[code]

[code]

In Aesara, here's the equivalent operation using `TensorConstant`s:

[code]

[code]

The resulting graph is a simple `Elemwise` for the subtraction `Op`&#x2013;as expected. There's also an `InplaceDimShuffle` that adds a broadcastable dimension to the second argument, so that both

[2021-03-13 19:55] brandonwillard commented on #335
The Python validation code (i.e. starting [here](https://github.com/pymc-devs/aesara/blob/master/aesara/tensor/elemwise.py#L740)) is checking the inputs' shapes against the broadcastable properties of their corresponding symbolic variables, `node.inputs`, and it looks like this problem arises because `x_v.broadcastable == (False, False)` and `False` is being interpreted incorrectly as "cannot be b

[2021-03-14 01:28] brandonwillard commented on #335
OK, so the this can be easily fixed for the Python implementation of `Elemwise`, but the C implementation is essentially a ground-up custom implementation of what NumPy already does (in C, as well), so changing that is much less straightforward.

This whole situation brings up some important aspects of the Aesara/Theano's design.  The problem we're seeing is really caused by our use of a `(2, 1)`-

[2021-03-14 01:45] brandonwillard commented on #335
N.B.: While working on #336, I removed the input validation so that it would allow "unexpected" broadcastable inputs (i.e. the symbolic type says it's not broadcastable, but the input is).  The result was an unbroadcasted version of the correct result.

There may be a way to pre/post-broadcast the inputs/outputs of an `Elemwise` `Op`, like it currently does for inputs with an unequal number of dim

[2021-03-14 11:20] twiecki commented on #335
Or we add a `COp` for the view-based broadcast, with Cython that should be pretty easy I think.

[2021-03-14 15:28] michaelosthege commented on #337
The fact that you put the `gbk` encoding in there (Chinese character sets) tells me that this is something about your setup.

If return values from `subprocess` calls to CLIs like the one of `gcc` are encoded in a Chinese character set I wouldn't be surprised if this is just the tip of the iceberg!
Instead of specifying `gbk` like you did above, I recommend that you find out where the `gbk` encodi

[2021-03-14 17:20] #337 closed

[2021-03-14 19:42] brandonwillard commented on #335
I haven't looked into it, but my impression is that it might actually be difficult, because&mdash;as far as I've seen&mdash;none of the current C framework uses the NumPy C API, and that's the only easy way to do this (that I know of, at least).

[2021-03-15 18:42] rodluger opened #338 "Lots of new UserWarnings complaining variable is not in FunctionGraph"
## Description of your problem or feature request

As of #298 I am getting *hundreds* of `UserWarnings` on code that used to run seamlessly. The warnings are issued [here](https://github.com/pymc-devs/aesara/blob/f26a508621beae0e8581c51d909c1e72a40b2c43/aesara/graph/fg.py#L492-L503). Previously, `theano` and `theano-pymc` simply failed silently at this step. Perhaps there's some config setting I c

[2021-03-15 22:05] brandonwillard commented on #338
This is an aspect of the `FunctionGraph` and optimization framework that is in the process of being fixed.  After refactoring the core optimization logic that relies on this silent failure behavior, this warning will become an error.

It should be possible to filter these warnings using [`warnings.filterwarnings`](https://docs.python.org/3/library/warnings.html#warnings.filterwarnings), but, if th

[2021-03-16 17:19] twiecki opened #339 "Add SoftmaxGrad Op implementation for JAX"
@aseyboldt already has an implementation for this.

[2021-03-16 17:22] twiecki opened #340 "JAX shape issue"
@aseyboldt described an issue where in a tensor-dot the shape of the first two dimensions gets multiplied, but we need more information here.

[2021-03-18 19:59] rodluger commented on #338
Ok, awesome -- thanks for the quick response. The filterwarnings approach should work fine. I really appreciate all the hard work you guys are putting into this!

[2021-03-19 15:21] ricardoV94 commented on #267
Should we implement this in Aesara or in Pymc3 ?We have python versions currently implemented in here: https://github.com/pymc-devs/pymc3/blob/70e25278a0388dd82330d20dab0ddd14c72ac999/pymc3/distributions/dist_math.py#L355

[2021-03-19 16:46] twiecki commented on #267
I think `aesara` would be the right place as it's core math functionality.

[2021-03-20 17:37] #339 closed

[2021-03-20 17:37] #340 closed

[2021-03-22 15:01] twiecki commented on #327
@aseyboldt wrote a numba linker: https://nbviewer.jupyter.org/gist/aseyboldt/fb673e17ea5aca7a75d80f2211d0cf8a

[2021-03-22 18:04] brandonwillard opened #346 "Use AST-based approach to Python graph conversion"
@aseyboldt has prototyped an AST-based approach to `Apply` node composition in [this example](https://github.com/pymc-devs/aesara/issues/327#issuecomment-804131888).  We should be able to replace the current function composition approach used by `jax_funcify` with this and simplify the graph (JIT) compilation process&mdash;for both JAX, Numba, and perhaps Cython as well.

[2021-03-23 16:46] twiecki commented on #267
Got reply from the cephes author:
"
Hello Thomas,

Checking old e-mail, it doesn't seem that I answered this.  You are
welcome to distribute Cephes files under a BSD license.

Good luck with your project,
Steve Moshier
"

[2021-03-28 15:32] twiecki opened #352 "Add named dimensions"
This came up in a conversation with @aseyboldt.

In PyMC3 the `dims` feature that allows naming of shapes leads to great UX. It would be great to push this down into Aesara and extend it. One thing that would be nice is to have named indices so that one could do:
`x["foo"]` instead of `x[0]`.

Same with dimensions: `x.sum(axis="bar")`. A lot could probably be borrowed from `xarray` who are doing t

[2021-03-29 22:16] jsmolic commented on #318
Closing as this is done

[2021-03-29 22:16] #318 closed

[2021-03-30 12:52] sammosummo opened #355 "Fresh install Theano error"
## Totally fresh install, doesn't install Aesara, Theano-PyMC3 fails baby steps

After installation:

[code]

Produces this:

[code]

I'm not sure whether `conda-forge` needs to be updated to reflect the name change from Theano-pymc3 to Aesara or what, but currently pymc3 is unusable when install into a fresh env via Conda-forge on macOS.

## Versions and main components

* PyMC3 Version: 3.11.2
*

[2021-03-30 20:43] twiecki commented on #355
Can you try also installing `mkl-service`? It seems like blas is still being used.

[2021-03-30 20:45] twiecki commented on #355
Can't find anything with `-lSystem`.

[2021-03-31 02:02] sammosummo commented on #355
After `conda install mkl-service`, same issue.

[2021-03-31 04:07] brandonwillard commented on #355
This is the Aesara repository.

[2021-03-31 08:29] michaelosthege commented on #309
This bug was released in Theano-PyMC 1.1.2, but we're not planning to make a patch release of Theano-PyMC.

Instead, I'm going to create a PR for PyMC3 `v3.11.3` that applies the following hotfix automatically:

[code]

[2021-03-31 18:17] sammosummo commented on #355
@brandonwillard I don't understand the decision to move this over to the Aesara repo. PyMC3 does not use Aesara yet—it still installs Theano via `conda`. If the PyMC3 repo needs to be updated to use Aesara, then that is a PyMC3 issue, no?

@twiecki Confirmed, same issue with Aesara.

[2021-03-31 19:10] brandonwillard commented on #355
The issue title, underlying problem, output, etc., is very specifically about PyMC3 + Theano(-PyMC), but this is the repository for _Aesara_.  Aesara has diverged quite a bit from Theano-PyMC, and builds for the latter were frozen a while back, so there's not much we can do with regards to Theano-PyMC failures.

If the problem is present within Aesara, then it needs to be reproduce in Aesara.

Oth

[2021-03-31 20:11] sammosummo commented on #355
I see, thanks. I assume that you will update PyMC3 to use Aesara rather than Theano-PyMC at some point.

After completely removing Miniconda and reinstalling, Theano-PyMC and Aesara now work as expected.

[2021-03-31 20:11] #355 closed

[2021-03-31 20:27] brandonwillard commented on #355
Yes, but I believe that will coincide with the release of PyMC version 4.

In the meantime, you can install a development build of PyMC3 from the repository and use Aesara.  The change is present there.

Yeah, as I recall, PyCharm and other IDEs often do not create proper shell environments, which&mdash;in turn&mdash;breaks anything that relies on a properly configured Conda environment.  The same

[2021-04-03 04:29] ricardoV94 opened #360 "Numerical stabilization for log1mexp"
We have a manual implementation on the PyMC side that stabilizes the operation `log(1 - exp(x))` by switching between `log1p` and `expm1` depending on where x lies:
 https://github.com/ricardoV94/pymc3/blob/d7f82a85dce9e0874f73dd6d48b096d5f8792313/pymc3/math.py#L221

This could be a simple and nice automatic rewrite to add to aesara that users could benefit from. It appears frequently when working

[2021-04-03 06:47] lucianopaz commented on #43
From a [jax post explaining omnistaging](https://github.com/google/jax/blob/master/design_notes/omnistaging.md#solution) it looks like using `numpy.reshape` instead of  `jax.numpy.reshape` is the correct way to solve this reshape problem.

[2021-04-03 18:44] twiecki commented on #43
but that would incur Python call overhead, no? I think that's just a poor workaround.

[2021-04-03 18:45] twiecki commented on #360
@ricardoV94 Yes, that's an optimization we can (and should) easily add.

[2021-04-03 18:53] brandonwillard commented on #43
The last I recall from reading and experimenting with all that is that they're actually saying such graphs are no longer possible, so do everything involving `np.reshape` before using JAX.

We can handle that by (re)allowing a mix of Python and JAX thunks, of course, but that's much less ideal than a single JAX compiled/JITed function, especially when it comes to use with other JAX code (e.g. JAX-

[2021-04-03 19:11] twiecki commented on #43
Can numba do that?

On Sat, Apr 3, 2021 at 8:53 PM Brandon T. Willard ***@***.***>
wrote:

[2021-04-03 19:13] brandonwillard commented on #43
Can it compile a function that uses `np.reshape`?  Yes, I believe so, and so can Cython.

[2021-04-03 20:32] brandonwillard opened #361 "Add an option to skip type filtering during function evaluation"
When evaluating a function compiled with `aesara.function`, the arguments are filtered and type checked during every call (see [here](https://github.com/pymc-devs/aesara/blob/06c179267ed26b365090760a1c7d4239b7153d85/aesara/compile/function/types.py#L861)).  In some cases, this overhead is unnecessary (e.g. tight loops with well controlled inputs), so we should provide an option to skip that step.

[2021-04-04 04:15] sambhavsaxena commented on #361
I would like to work on this issue.
Kindly guide me through..

[2021-04-05 01:25] brandonwillard commented on #361
It should be as simple as adding a user-level option (i.e. via the `aesara.function` interface) and an `if` condition skipping the `filter` in the line linked above.

The most involved part will likely be the new test that goes along with this feature and some out-of-repo benchmarks in the PR, but that shouldn't be too difficult either.

[2021-04-05 01:35] brandonwillard opened #362 "Provide a non-in-place version of `FunctionGraph.change_input`"
`FunctionGraph.change_input` changes an `Apply` node's inputs in-place, but we could just as easily clone and replace the affected `Apply` node(s).

This approach would prevent the need to clone graphs before creating a `FunctionGraph`, by&mdash;instead&mdash;cloning "on-demand" and only when and where it's actually required.  It would also be a convenient way to preserve the identity of unrelated

[2021-04-05 20:23] lucianopaz commented on #352
Just to link this, as it could be useful, Torch does something like this with [named tensors](https://pytorch.org/docs/stable/named_tensor.html). Numpy also has its [structured arrays](https://numpy.org/doc/stable/user/basics.rec.html), but those are much more flexible than what we need to get names into dimensions.

I think that the key thing that we would need to do as a bare minimum is to handl

[2021-04-11 19:00] michaelosthege opened #369 "Add `dtype` option to `as_tensor_variable`"
As commented by @brandonwillard in https://github.com/pymc-devs/aesara/pull/367#pullrequestreview-633036110 - please edit to add more information/context if applicable.

`as_tensor_variable` is kinda like the Aesara equivalent for `np.array`.

A `dtype` option would make a lot of code more concise.
It does raise the question whether there should be settings to configure casting behavior:
+ of non-

[2021-04-11 19:06] brandonwillard commented on #369
Yes, there is a general lack of specificity when it comes to dtype conversions.  For instance, [`TensorType.filter`](https://github.com/pymc-devs/aesara/blob/master/aesara/tensor/type.py#L100) has `strict` and `allow_downcast` options, but not one that prevents cross-type conversions: e.g. `strict=True` will prevent upcasting an `int32` to `int64`, so it's too strict, and `strict=False` will allow

[2021-04-12 04:16] #369 closed

[2021-04-14 05:34] kc611 opened #373 "Op conversions for NumbaLinker"
This issue is to track and discuss the Ops we want to implement in Numba

The currently supported Ops in Numba are:

- `ScalarOp` :- Needs testing for all of the derivative `Op`s
- `Elemwise` :- Needs proper vectorization.
- `Composite`
- `SubTensor`
- `MakeSlice`
- `DeepCopyOp`

[2021-04-14 10:10] twiecki commented on #373
A list of required `Ops` can be found in https://github.com/pymc-devs/aesara/blob/master/aesara/link/jax/dispatch.py.

Although @aseyboldt had a nice method of mapping a few of them which we should copy here: https://github.com/pymc-devs/aesara/pull/365/files#diff-5136a3392cde524aeef680cc1949734c0c48bd809b8963ef83178a80337e4736R145

[2021-04-14 18:10] brandonwillard commented on #373
Those mappings are already handled by the `nfunc_spec` properties attached to scalar `Op`s.  See the approach used in the [JAX dispatch for `ScalarOp`](https://github.com/pymc-devs/aesara/blob/1549649f0888a821b7f4c4f023c3b6234ce7ddcf/aesara/link/jax/dispatch.py#L134); it's able to cover the same ground automatically.

[2021-04-16 06:33] ricardoV94 commented on #360
Does it make sense to add a specific Op for these rewrites (it would be the similar in nature to the softplus)?

[2021-04-16 06:47] twiecki commented on #360
What's the advantage over an optimization?

[2021-04-16 06:56] twiecki commented on #373
We should add a check-list of those that are still missing.

[2021-04-16 07:39] ricardoV94 commented on #360
It's not instead of the optimization. It would appear as a single op at the output of such optimization. The same way that if you have `exp(log(x) + 1)` it gets converted to a `softplus(x)`.

What are the advantages? I am not completely sure. I guess we can more easily target it in further optimizations (e.g., to undo it), otherwise we will just have a strange looking `tt.switch` floating around.

[2021-04-16 09:21] twiecki commented on #360
Sounds like a new `Op` has more benefits and almost no downside.

[2021-04-16 18:09] michaelosthege opened #375 "Editing Zenodo metadata"
Zenodo initially autogenerated the metadata from the full history.

Without having strong opinions about it we decided to reduce that list to the contributors since the last Theano release ( `v1.0.5`).

I'm creating this ticket primarily to document how I composed the list/order of contributors.

GitHub insights only lists committers, excluding authors, which cuts the list to just 6 people: https:

[2021-04-16 19:06] #312 closed

[2021-04-16 19:11] #37 closed

[2021-04-16 21:15] brandonwillard commented on #375
That looks good; thanks!

[2021-04-16 21:44] brandonwillard commented on #360
Yeah, we can create a new `Op` for this.

[2021-04-16 22:57] brandonwillard opened #378 "Move `aesara.tensor.nnet.sigm` to `aesara.[scalar|tensor].*`"
The `Op`s and optimizations in `aesara.tensor.nnet.sigm` belong in `aesara.tensor.*`, `aesara.scalar.*`, etc.

More specifically, the `UnaryScalarOp`s (e.g. [`Sigmoid`](https://github.com/pymc-devs/aesara/blob/master/aesara/tensor/nnet/sigm.py#L29)) belong in `aesara.scalar.basic_scipy`, the corresponding `Elemwise`s belong in `aesara.tensor.math` (e.g. [`sigmoid`](https://github.com/pymc-devs/aes

[2021-04-16 23:04] brandonwillard opened #379 "Move scalar type instances and classes to a new `aesara.scalars.type` module"
The [`Scalar`](https://github.com/pymc-devs/aesara/blob/master/aesara/scalar/basic.py#L318) `Type` class should match `aesara.tensor.type` and be in its own module, along with all the instances of `Scalar` (e.g. [`bool`](https://github.com/pymc-devs/aesara/blob/master/aesara/scalar/basic.py#L721), [`int8`](https://github.com/pymc-devs/aesara/blob/master/aesara/scalar/basic.py#L722), etc.)

We migh

[2021-04-18 00:30] brandonwillard opened #381 "Enable in-place for `AdvancedIncSubtensor`"
For some reason specifying `inplace=True` raises a `NotImplementedError` in the constructor of `AdvancedIncSubtensor`.

It's not clear to me why this should be disabled, so we should enable it, because&mdash;without it&mdash;`AdvancedIncSubtensor` copies the entire array every time `Op.perform` is called.

[2021-04-18 03:44] #381 closed

[2021-04-23 14:52] ricardoV94 commented on #378
What do you mean by this? Rename the actual op?

[2021-04-23 17:36] brandonwillard commented on #378
Yeah, an alias is fine.

[2021-04-27 08:08] SouthAmericaB opened #387 "'DisconnectedType' object has no attribute 'dtype', in Theano gradient.py"
Hi!
I'm having an error with Theano and when I've written my issue in this project https://github.com/Theano/Theano/issues/6774#issue-867541871
I've been redirected here.

My problem is the next:
![image](https://user-images.githubusercontent.com/49905756/116207650-68078180-a740-11eb-9cd5-7168c14a0d62.png)
Could you help me to solve it please?

Thank you very much in advance :)

[2021-04-28 16:05] brandonwillard opened #389 "Copy NumPy docstrings to our NumPy interface functions"
Like Dask does with Pandas, we can simply copy the docstrings from the NumPy functions that we're emulating/wrapping and add a disclaimer at the end stating that there might be differences (or exactly what they are).  In the form of a decorator that automatically does this, such a feature could save us a lot of time.

[2021-04-29 23:16] brandonwillard opened #390 "Infer `RandomVariable` broadcastable pattern when `size` has a `Cast`"
In the following example, the broadcast pattern isn't inferred because of a `Cast` in `size`:
[code]
[code]

One solution could involve lifting the `Cast` `Op`, or&mdash;for this exact case&mdash;canonicalizing the graph for `size` would remove the `Cast` altogether.

[2021-05-03 07:33] twiecki commented on #387
@SouthAmericaB Thanks for filing. Can you first make sure that this problem exists with aesara and then post reproducing code?

[2021-05-03 07:37] twiecki commented on #390
@brandonwillard Can you provide a bit more detail on what needs to happen here?

[2021-05-06 11:19] michaelosthege opened #395 "`local_useless_subtensor` optimization fails when broadcasting differs between old/new graph"
## Problem description
I don't have a minimum example yet, but I think it's quite clear from the error output:

[code]
Note that `AdvancedSubtensor1` return type is `TensorType(float64, (True,))`, but its input is `TensorType(float64, vector)`.

## Versions and main components
* `theano-pymc 1.1.2`

[2021-05-06 16:26] michaelosthege commented on #395
A workaround is to deactivate the `local_useless_subtensor` optimization:
[code]

[2021-05-09 11:07] #378 closed

[2021-05-09 22:16] brandonwillard commented on #390
This could be accomplished in more than a few ways, but perhaps the simplest involves adding `Cast` to the `isinstance` [here](https://github.com/pymc-devs/aesara/blob/master/aesara/tensor/random/op.py#L296).

[2021-05-10 00:00] brandonwillard opened #399 "Remove deprecated `Flatten` and `Tile` `Op`s"
The [`Flatten`](https://github.com/pymc-devs/aesara/blob/f2ecc2e52cb704cacc1b4642fb0bf9c849bd975f/aesara/tensor/basic.py#L2859) and [`Tile`](https://github.com/pymc-devs/aesara/blob/f2ecc2e52cb704cacc1b4642fb0bf9c849bd975f/aesara/tensor/basic.py#L3090) `Op`s are deprecated and need to be removed.

[2021-05-10 20:30] brandonwillard opened #400 "Create a `Scan` `Op` conversion for Numba"
The `Scan` `Op` needs a Numba conversion.

In the course of implementing this, we may also want to update `Scan`, since that's already long overdue.

[2021-05-10 20:32] brandonwillard opened #401 "Create an `IfElse` `Op` conversion for `Numba`"
We need a Numba conversion for the `IfElse` `Op`.

[2021-05-10 20:33] brandonwillard opened #402 "Numba conversions for `RandomVariable`"
We need a Numba implementation of the `RandomVariable` `Op`s and the `RandomState` `Type`.

[2021-05-11 21:11] twiecki opened #404 "Add numba implementations for LogSumExp (reference implementation exists)"
@aseyboldt provided an implementation we can probably use here as a starting point:

[code]

[2021-05-12 13:12] twiecki opened #406 "Ability to serialize aesara graphs"

[2021-05-12 14:47] hectormz opened #407 "PyMC3 Fails on Windows Python 3.8 (Aesara dll imports)"
## Description of your problem

Running `pymc3` on Windows fails for me when using python 3.8. Running the same code with same package versions on my machine with python 3.7 works. From what I can tell, this is a `Aesara` issue and not specifically a `pymc3` problem, but figured other users might find this issue in the future. I believe it is related to finding my `gcc` dlls, as it works if I add

[2021-05-12 16:23] twiecki commented on #407
Thanks @hectormz! Want to do a PR with this fix?

[2021-05-12 16:28] hectormz commented on #407
Gladly. If someone knows a more appropriate place to stick the chunk, let me know.

I tested this modification with `pymc3` and the most recent _tagged version_ of `Aesara`, because there have been some reorganizations of `Aesara` that `pymc3` doesn't know about yet.

[2021-05-13 07:51] #407 closed

[2021-05-13 08:28] twiecki commented on #406
Ideally we can use a non-binary format like json which would allow us to save a PyMC3 model into an `InferenceData` object and save it with the posterior in netcdf.

[2021-05-13 08:47] twiecki opened #409 "Ability to set Numba's `parallel` and `fastmath` options"
`numba.njit(parallel=True, fastmath=True)` can give great speed-ups. Would be nice to be able to run aesara with these flags.

[2021-05-13 08:48] twiecki commented on #404
There's also a numerically stable one:

[code]

[2021-05-13 18:58] brandonwillard commented on #409
Yes, I've planned on setting better defaults for certain `Op`s, as well as enabling the caching option.

[2021-05-14 16:25] FFroehlich opened #411 "Embarrassing parallelization and filelock"
## Description of your problem or feature request

**Please provide the full traceback of any errors.**
[code]

**Please provide any additional information below.**

I am using aesara as part of an embarrassingly parallelizable task that is implemented using snakemake where each job runs completely independently, but each uses aesara to compile (the same) functions and I still see frequent failure

[2021-05-14 18:56] brandonwillard commented on #411
Does increasing `compile__timeout` work?

[2021-05-14 22:18] michaelosthege commented on #390
After digging into `RandomVariable.compute_bcast` as @brandonwillard suggested, I don't think the if clause is even necessary:

[code]
Note that `get_scalar_constant_value` already implements quite a bit of recursion that, [among other things, also looks for `Assert`.](https://github.com/pymc-devs/aesara/blob/abf6026c9c2bad19216275e127e3043f30d93360/aesara/tensor/basic.py#L416).

The [`_scalar_con

[2021-05-17 01:45] FFroehlich commented on #411
It probably would help a bit, I haven't checked whether I actually run into deadlocks or not. At the end of the day I want to run hundreds to thousands of jobs in parallel that all run for multiple and compilations only needs a couple of seconds, so completely getting rid of caching or other interactions between jobs would be the best solution.

[2021-05-17 01:59] dfm commented on #411
There might be better ways, but I normally handle this by somehow setting the `compiledir` config flag to something unique. I think that with snakemake you could probably do this by setting the environment variable something like the following:

[code]

I haven't tried this with snakemake directly, but I expect something in this direction would do the trick. Hope this helps!

[2021-05-17 17:23] danielletucker opened #416 "Import of pymc3 breaks because sigmoid opt in the wrong location"
## Moving sigmoid opt to math breaks the import of pymc3, as it still thinks sigmoid opt is in nnet.

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**Please provide the full traceback of any errors.**
[code]

**Please provide any additional information below.**

## Versions and main components

* Aesara version: 2.0.8
* Aesara config (`python -c "import aesara; pr

[2021-05-18 21:49] FFroehlich commented on #411
This works like a charm, thank you!

[2021-05-18 21:49] #411 closed

[2021-05-19 22:49] #72 closed

[2021-05-19 22:51] brandonwillard commented on #42
This is a duplicate of #93.  Closing for now.

[2021-05-19 22:51] #42 closed

[2021-05-19 22:55] #126 closed

[2021-05-19 23:00] brandonwillard commented on #192
This was closed by https://github.com/pymc-devs/aesara/pull/298.

[2021-05-19 23:00] #192 closed

[2021-05-19 23:15] #346 closed